.masthead-header {
  margin: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
.hidden {
  position: fixed;
  left: 0 !important;
  margin-left: 0 !important;
}

.masthead-users {
	padding: 1.5em 6em 2.45em 6em;
}
.masthead-filters {
	margin: -5em 6em 0 6em;
	position: sticky;
	top: 4.85em;
	z-index: 3;
}
.masthead-content {
	padding-top: 1em !important;
}

@media screen and (max-width: 960px) and (min-width: 768px) {
  .masthead-filters {
    margin: -5em 3em 0 3em;
  }
}
@media only screen and (max-width: 768px) {
  .masthead-filters {
    margin: -5em 0 0 0;
  }
}
