<div class="masthead-header">
  <div class="masthead-users">
    <div class="ui two column grid">
      <div class="left aligned six wide column">
        <div class="ui large secondary menu">
          <div class="item">
            <div class="ui logo shape">
            <div class="sides">
              <div class="ui active side">
                <h2 class="ui header">
                  <span class="{{config.header?.icon?.name}} {{config.header?.icon?.color}} icon"></span>
                  <div class="content">
                    <span>{{config.header?.title | translate}}</span>
                    <div class="sub header">{{config.header?.meta | translate}}</div>

                    <div class="header-line"></div>
                  </div>
                </h2>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right aligned ten wide column">
        <ng-content select="[table-header-content]"></ng-content>
      </div>
    </div>
  </div>

  <div class="ui divider" style="border-width: .2em; margin: 0; border-bottom: 0 solid transparent;"></div>
</div>

<div class="masthead-filters">
  <div #filter class="ui column centered grid">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <app-table-filters #mfilters
            [(filters)]="filters"
            [(sorts)]="sorts"
            (acceptFilter)="onAcceptFilter($event)"
            (clearFilter)="onClearFilter($event)"
            (removeFilter)="onRemoveFilter($event)"
            (changeSortOrder)="onChangeSortOrder($event)">

            <ng-content filters-content select="[table-filters-content]"></ng-content>
          </app-table-filters>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <app-table-list
            [data]="data"
            [currentItem]="currentItem"
            [quickSearch]="mfilters.quickSearch"
            [visibleQuickSearch]="false"
            [visibleFilter]="true"
            [visibleSort]="false"
            [countFilter]="mfilters.countFilter"
            [countSort]="mfilters.countSort"
            [total]="pagingResults.totalRows"
            [(initialPage)]="pagingSettings.pageNumber"
            [(pageSize)]="pagingSettings.pageSize"
            (refreshData)="onRefreshData()"
            (paging)="onPage($event)">

            <div [ngSwitch]="tableSettings.type" list-content>
              <div class="ui basic segment table-info">
                <div class="ui grid">
                  <div class="six wide column">
                    <h3 class="ui header">
                      <span class="text-count table-info-line mat-headline">{{pagingResults.totalRows}}</span>
                      <span class="ui text tc-grey-700 pad-left-xs" translate>Wpisów</span>
                    </h3>
                  </div>

                  <div class="left floated right aligned ten wide column">
                    <div class="ui basic">
                      <ng-container buttons-content>
                        <span class="ui sub header medium text tc-grey-400" style="padding-right: 1em !important;" translate>Widok:</span>

                        <button class="ui circular button table-button"
                          [ngClass]="{'primary': tableSettings.type === tableType.List}"
                          (click)="onChangeTableType(tableType.List)"
                          matTooltip="{{'Widok listy' | translate}}">

                          <i class="list icon"></i>
                          <span>Lista</span>
                        </button>

                        <button class="ui circular button table-button"
                          [ngClass]="{'primary': tableSettings.type === tableType.Table}"
                          (click)="onChangeTableType(tableType.Table)"
                          matTooltip="{{'Widok tabeli' | translate}}">

                          <i class="table icon"></i>
                          <span>Tabela</span>
                        </button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngSwitchCase="tableType.Table">
                <ng-content select="[table-content]"></ng-content>
              </ng-container>

              <ng-container *ngSwitchCase="tableType.List">
                <ng-content select="[list-content]"></ng-content>
              </ng-container>
            </div>

          </app-table-list>
        </div>
      </div>
    </div>
  </div>
</div>