<div class="ui right vertical sidebar menu sidebar-widgets sidebar-widgets-{{config.type}}" style="overflow-x: hidden;">
  <div class="ui width grid">
    <div class="sixteen wide column">
      <div class="ui basic segment segment-header">
        <h3 id="step-account" class="ui header">
          <div class="content">
            <span translate>Ustawienia pulpitu</span>
            <div class="sub header" translate>Definiowanie ustawień pulpitu modułu '{{config.title}}'.</div>
          </div>
        </h3>

        <div class="size-height-12"></div>
      </div>

      <div class="ui basic segment" style="margin: 0;">
        <div class="ui column middle aligned grid">
          <div class="row">
            <div class="ten wide column">
              <span class="tc-grey-600" translate>Tryb rozmieszczania</span>
            </div>
            <div class="right aligned six wide column">
              <div class="field">
                <div class="ui toggle checkbox checkbox-widgets-move">
                  <input type="checkbox" name="widgets-move">
                </div>
              </div>
            </div>
          </div>
          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
          <div class="row">
            <div class="ten wide column">
              <span class="tc-grey-600" translate>Dostępne komponenty</span>
            </div>
            <div class="right aligned six wide column"></div>
          </div>
          <ng-template ngFor let-widget let-last="last" [ngForOf]="widgets">
            <div class="row" style="padding: .25em 0;">
              <div class="ten wide column">
                <span class="tc-grey-600" translate>{{widget.settings.header}}</span>
              </div>
              <div class="right aligned six wide column">
                <div class="field">
                  <div class="ui toggle checkbox checkbox-widgets">
                    <input type="checkbox"
                      [(ngModel)]="widget.active"
                      [name]="widget.settings.type"
                      [disabled]="!widget.active && gridFull">
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
    </div>
  </div>
</div>

<div class="masthead-filters">
  <div class="ui basic segment" style="padding: 0;">
    <button class="ui icon button button-sidebar" (click)="sidebar()"
      matTooltip="{{'Ustawienia pulpitu' | translate}}" [matTooltipPosition]="'left'"
      style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);
        padding: 1em; padding-right: 1.75em;
        margin: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;">

      <i class="cog icon" style="font-size: large;"></i>
    </button>
  </div>
</div>

<div class="masthead-content">
  <div class="ui basic segment" style="z-index: 1; padding: 0; height: 100%;">
    <ngx-widget-grid #grid
      [rows]="rows"
      [columns]="cols"
      [highlightNextPosition]="highlightNextPosition"
      [showGrid]="showGrid"
      (contextmenu)="onContextMenu($event)"
      (created)="onDrawn($event)"
      (gridFull)="onGridFull($event)"
      (widgetPositionChange)="onWidgetChange($event)"
      style="overflow: unset;">

      <ngx-widget *ngFor="let widget of widgets | wfilter:[{field:'active',value:'true'}]"
        [position]="widget.position"
        [movable]="editable"
        [resizable]="editable"
        [swapOnMove]="swapWidgets"
        (positionChange)="onPositionChange($event, widget)">

        <div class="widget-content">
          <mat-card style="margin: 0; height: 100%; box-shadow: none;">
            <mat-card-content style="padding: 0 ;height: 100%;">
              <app-widget-container [widget]="widget"></app-widget-container>
            </mat-card-content>
          </mat-card>
        </div>
      </ngx-widget>
    </ngx-widget-grid>
  </div>
</div>
