<div class="ui basic segment table-header">
  <div class="item" style="padding: .4em 0;">
    <div class="content">
      <div class="ui left aligned five column grid">
        <div class="middle aligned one wide column"></div>
        <div class="middle aligned five wide column">
          <span style="font-weight: bold;">{{'Konto' | translate}}</span>
        </div>
        <div class="middle aligned four wide column">
          <span style="font-weight: bold;">{{'Rola' | translate}}</span>
        </div>
        <div class="middle aligned two wide column">
          <span style="font-weight: bold;">{{'Status' | translate}}</span>
        </div>
        <div class="right aligned four wide column"></div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider table-divider" style="margin-bottom: 1rem;"></div>

<div class="ui accordion selection list table-list">
  <ng-template #lists ngFor let-row let-last="last" [ngForOf]="data">
    <div class="item" [class.selected]="isSelected(row)" (click)="onSelected(row)" style="padding: 0;">
      <div class="title">
        <div class="item" style="margin: 0; padding: 1em 2em;">
          <div class="content">
            <div class="ui five column grid">
              <div class="middle aligned one wide column">
                <ngx-avatar name="{{row?.fullName}}" size="48"></ngx-avatar>
              </div>
              <div class="middle aligned five wide column">
                <div class="content">
                  <div class="ui sub header" style="font-size: 1.1em;">{{row.userName}}</div>
                  <span class="tc-grey-600">{{row.fullName}}</span>
                  <div class="size-height-6"></div>
                  <div class="meta">
                    <span>{{row.email}}</span>
                  </div>
                </div>
              </div>
              <div class="middle aligned four wide column">
                <div class="content">
                  <div class="ui labels">
                    <ng-template ngFor let-role let-i="index" let-last="last" [ngForOf]="row.roles">
                      <div class="ui label">
                        <span translate>{{role.application.name}}</span>
                        <span class="detail" translate>{{role.name}}</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="middle aligned two wide column">
                <div class="content">
                  <div class="ui labels">
                    <div class="ui label"><i class="circle green icon"></i><span class="pad-left-xs" translate>online</span></div>
                  </div>
                  <!-- <a class="ui green empty circular mini label"></a> -->
                  <!-- <span style="padding-left: 5px;">{{'online' | translate}}</span> -->
                </div>
              </div>
              <div class="right aligned middle aligned four wide column">
                <div class="content">
                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Edytowanie konta' | translate" data-inverted="" [routerLink]="['/management/users', row?.id]">
                    <i class="user edit icon"></i>
                  </div>
                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Napisz wiadomość' | translate" data-inverted="">
                    <i class="comment dots outline icon"></i>
                  </div>
                  <div class="ui tertiary icon large button" [attr.data-tooltip]="'Usuń konto' | translate" data-inverted="">
                    <i class="trash icon"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>