<app-widget-content [widget]="widget">
  <div content class="ui aligned grid" style="margin: 0; padding: 0;">
    <div class="center aligned column row" style="padding: .5em;">
      <div class="column">

        <div class="size-height-32"></div>

        <h3 class="ui icon header">
          <i class="tools icon"></i>
          <div class="content">
            <span translate>{{widget.settings.header}}</span>
            <div class="sub header" translate>W trakcie implementacji...</div>
          </div>
        </h3>
      </div>
    </div>
  </div>
</app-widget-content>
