.masthead-profile {
  margin: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
.masthead-filters {
  margin: -3.5em 6em 0 6em;
  position: sticky;
  top: 7.85em;
  z-index: 3;
}

.border-edit {
	border-bottom: 1px solid rgba(238,238,238,.25) !important;
}
