<div [hidden]="showFilter" class="ui basic raised segment segment-filters" style="margin-bottom: 0; padding: 0; background: white;">
  <div class="ui basic segment bgc-grey-50">
    <div class="ui two column grid">
      <div class="column">
        <h3 class="ui header">
          <i class="filter icon"></i>
          <div class="content">
            <span translate>Filtrowanie</span>
            <div class="sub header" translate>Definiowanie filtrów</div>
          </div>
        </h3>
      </div>
      <div class="right aligned column">
        <button class="ui circular primary button" (click)="onAcceptFilter()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
          <i class="check icon"></i>
          <span translate>Zatwierdź</span>
        </button>

        <button class="ui circular button" (click)="onClearFilter()">
          <i class="trash icon"></i>
          <span translate>Wyczyść</span>
        </button>
      </div>
    </div>
  </div>

  <div class="ui basic segment" style="padding-top: 0;">
    <ng-content select="[filters-content]"></ng-content>
  </div>
</div>

<div [hidden]="(!showFilter || !filters?.length)" class="ui basic raised segment segment-filters bgc-grey-50" style="padding-bottom: 0;">
  <div class="ui two column grid">
    <div class="twelve wide column">
        <td-chips [(ngModel)]="chipsfilters"
                [chipAddition]="false"
                placeholder="Filtry"
                inputPosition="before"
                (remove)="onRemoveFilter($event)">
          <ng-template td-chip let-chip="chip">
            <div layout="row" layout-align="start center">
              <span class="tc-grey-100" td-chip-avatar
                  [matTooltip]="chip.name | translate" [matTooltipPosition]="'above'">
                {{(chip.name | translate).substring(0, 2).toUpperCase()}}
              </span>
              <span translate>{{chip.desc}}</span>
            </div>
          </ng-template>
          <ng-template td-autocomplete-option let-option="option">
            <div layout="row" layout-align="start center">
              <span translate>{{option.name}}</span>
            </div>
          </ng-template>
        </td-chips>
    </div>

    <div class="four wide right aligned column">
      <span class="pad-xs"></span>
      <button class="ui circular button" (click)="showFilter = !showFilter" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
        <i class="filter icon"></i>
        <span *ngIf="showFilter" translate>Pokaż filtry</span>
        <div class="floating ui red circular label" style="top: .5em; right: 1.5em;">{{countFilter}}</div>
      </button>
    </div>
  </div>
</div>

<div [hidden]="(!showFilter || filters?.length)" class="ui basic segment" style="margin-top: .4em; padding-bottom: 0;">
  <div class="ui aligned grid">
    <div class="right aligned sixteen wide column">
      <ng-content select="[buttons-content]"></ng-content>

      <span class="pad-xs"></span>

      <button class="ui circular button" (click)="showFilter = !showFilter" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
        <i class="filter icon"></i>
        <span *ngIf="showFilter" translate>Pokaż filtry</span>
        <div class="floating ui red circular label" style="top: .5em; right: 1.5em;">{{countFilter}}</div>
      </button>
    </div>
  </div>
</div>
