.masthead-header {
  margin: 0;
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
.masthead-user {
  padding: 1.5em 6em 2.45em 6em;
}
.masthead-filters {
  margin: -3.5em 6em 0 6em;
  position: sticky;
  top: 6.25em;
  z-index: 3;
}

.account-settings, .account-comment {
	background: white;

	&:hover {
		color: white !important;
	}
}

.button-checkbox {
  padding: 2em !important;
  width: 128px;
  height: 104px;
  i {
    font-size: 2em;
  }
  i.icon {
    margin: unset !important;
  }
  label {
    color: unset !important;
  }
  label:before {
    top: .5em !important;
    left: unset !important;
    right: .5em !important;

    width: 24px;
    height: 24px;

    border-radius: .5em;
    background-color: rgba(255,255,255,1);
  }
  label:after {
    top: .5em !important;
    left: unset !important;
    right: .5em !important;

    width: 24px;
    height: 24px;
    line-height: 1.65em;

    border-radius: .5em;
    color: rgba(255,255,255,1) !important;
  }
}
