<app-table-template #table
  [config]="config"
  [data]="data"
  [currentItem]="currentItem"
  [pagingResults]="pagingResults"
  (acceptFilter)="onAcceptFilter($event)"
  (clearFilter)="onClearFilter($event)"
  (removeFilter)="onRemoveFilter($event)"
  (refreshData)="onRefreshData($event)">

  <!-- header -->
  <div table-header-content>
    <button class="ui circular primary button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);"
      [routerLink]="['/management/groups/users/form']">

      <i class="add icon"></i>
      <span translate>Utwórz grupę</span>
    </button>
  </div>

  <!-- filtry -->
  <app-groups-users-filters table-filters-content [(filters)]="table.filters"></app-groups-users-filters>

  <!-- widok tabeli -->
  <app-group-user-table table-content [data]="data" [currentItem]="currentItem"></app-group-user-table>

  <!-- widok listy -->
  <app-group-user-list list-content [data]="data" [currentItem]="currentItem"></app-group-user-list>
</app-table-template>