<div *ngIf="!accountService.getLoggedIn() || accountService.getLockAccount()" class="masthead-content">
  <div class="masthead-login">
    <div class="ui stackable grid" style="margin-top: 0;">
      <div class="ten wide column column-logo">
        <div class="masthead-title">
          <div class="ui large secondary menu">
            <div class="column">
              <h1 class="ui header" style="margin-bottom: 0;">
                <!-- <img src="../../../../assets/images/workteam4.png"
                  style="border-radius: 50%; border: 1px solid white; box-shadow: 0 0 0 7px rgba(34,36,38,.1);"> -->
                <div class="content">
                  <span class="ui medium text" style="margin-left: .5rem;" translate>common.app_title</span>
                  <div class="sub header" style="margin-left: .5rem;">
                    <span class="ui medium text" translate>common.app_desc</span>
                  </div>

                  <div class="ui basic">
                    <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                      backdrop-filter: blur(6px);">
                      <span>{{system.date}}</span>
                    </div>
                    <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                      backdrop-filter: blur(6px);">
                      <span>{{system.version}}</span>
                    </div>
                    <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                      backdrop-filter: blur(6px);">
                      <span>{{system.type}}</span>
                    </div>
                  </div>
                </div>
              </h1>
            </div>
            <div class="right menu inverted">
            </div>
          </div>
        </div>

        <div class="background-logo"></div>

        <div class="masthead-footer">
          <div class="ui aligned grid">
            <div class="column row">
              <div class="ui basic">
                <div class="ui secondary tertiary button" (click)="regulations()">
                  <span translate>common.buttons.regulations</span>
                </div>
                <div class="ui secondary tertiary button" (click)="policy()">
                  <span translate>common.buttons.policy</span>
                </div>
                <div class="ui secondary tertiary button" (click)="cookie()">
                  <span translate>common.buttons.cookie</span>
                </div>
              </div>
              </div>
          </div>
        </div>
      </div>
      <div class="six wide column column-login">
        <div *ngIf="!accountService.getLoggedIn() || accountService.getLockAccount()" class="ui basic segment masthead-style">
          <div class="ui grid">
            <div class="left floated right aligned sixteen wide column">
              <div class="ui icon top right pointing floating dropdown circular button languages" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
                <!-- <input type="hidden" name="languages"> -->
                <i class="world icon" style="margin-right: 0;"></i>
                <span class="text" style="margin-left: 1em; margin-right: 0;" translate>Domyślny</span>

                <div class="menu transition hidden menu-languages">
                  <div class="header">
                    <span translate>Wyszukaj</span>
                  </div>
                  <div class="ui icon search input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="{{'Wyszukaj' | translate}}">
                  </div>

                  <div class="scrolling menu">
                    <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
                      <div class="item" [attr.data-value]="language.code">
                        <i class="{{language.flag}} flag"></i>
                        <span class="description" translate>{{language.desc}}</span>
                        <span class="name">{{language.name}}</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>

              <span class="pad-left-xs pad-right-xs"></span>

              <div class="ui icon top right pointing dropdown circular button themes" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
                <i class="theme icon"></i>
                <span class="ui {{sidebarService.activeTheme}} theme-primary empty circular label" style="margin: 0 .5em 0 1em; vertical-align: top;"></span>
                <span class="text pad-left-sm pad-right-sm" translate>Styl aplikacji</span>

                <div class="menu transition hidden menu-themes">
                  <div class="item" [attr.data-value]="'dark'">
                    <div class="ui toggle checkbox checkbox-dark-theme">
                      <input type="checkbox" name="darktheme" [(ngModel)]="sidebarService.isThemeDark">
                      <label translate>Tryb ciemny (eksperyment)</label>
                    </div>
                  </div>

                  <div class="scrolling menu">
                    <ng-template ngFor let-theme let-last="last" [ngForOf]="sidebarService.getThemes">
                      <div class="item" [attr.data-value]="theme">
                      <div class="ui {{theme}} theme-primary empty circular label"></div>
                      <span>{{theme}}</span>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>

            <div class="left floated right aligned sixteen wide column">
              <ng-content select="[button]"></ng-content>
            </div>
          </div>
        </div>

        <div class="ui basic segment login">
          <ng-content select="[content]"></ng-content>
        </div>

        <div class="size-height-12"></div>

        <!-- <div class="ui basic tertiary padded segment" style="padding: 1.75em 2em;">
          <div class="ui left aligned basic vertically fitted segment">
            <span class="ui medium text">
              <span translate>
                login.dont_have_account <a [routerLink]="['/register']"> <span translate>login.create_now_account</span></a>.
              </span>
            </span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
