.masthead-style {
	padding: 3em 4em 0 4em;
}
.masthead-content {
	padding: 0 !important;
}
.masthead-login {
	border: unset;
	border-radius: unset;
	background: rgba(255,255,255,1);
}
.masthead-title {
	top: 5em;
	left: 5em;
	position: fixed;
}
.masthead-footer {
	left: 5em;
	bottom: 7em;
	position: relative;
}

.login {
	border: unset;
	border-radius: unset;
	padding: 1em 5em;
}

.column-login {
	overflow-y: auto;
	height: 100vh;
}

@media screen and (min-width: 960px) {
	.column-logo {
		padding-right: unset !important;
		padding-top: unset !important;
		padding-bottom: unset !important;
	}
	.column-login {
		padding-left: unset !important;
		padding-top: unset !important;
		padding-bottom: unset !important;
		box-shadow: 0 0 25px 15px rgba(0,0,0,.1);
	}
}

@media screen and (max-width: 960px) and (min-width: 768px) {
	.login {
		padding: 2em;
	}
	.column-logo {
		padding-right: unset !important;
		padding-top: unset !important;
		padding-bottom: unset !important;
	}
	.column-login {
		padding-left: unset !important;
		padding-top: unset !important;
		padding-bottom: unset !important;
		box-shadow: 0 0 25px 15px rgba(0,0,0,.1);
	}
}

@media only screen and (max-width: 768px) {
	.masthead-login {
		border-right: unset !important;
	}
	.masthead-title {
		display: none;
	}
	.masthead-footer {
		display: none;
	}
	.style {
		padding: 1em 3em 0 3em;
	}
	.login {
		padding: 1em 3em;
	}
	.column-logo {
		display: none !important;
	}
	.column-login {
		padding: unset !important;
	}
}

.languages {
	span.text {
		span.name {
			display: none;
		}
		span.description {
			display: none;
		}
	}
}

.background-logo:before,
.background-logo:before {
	z-index: 1;
	transform: translateY(250%);
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	width: 0;
	height: 0;
	border-top: solid 32px transparent;
	border-bottom: solid 32px transparent;
	border-right: solid 32px rgba(255,255,255,1);
}

