<div *ngIf="!accountService.getLoggedIn() || accountService.getLockAccount()" class="masthead-content">
  <div class="masthead-style">
    <div class="ui grid">
      <div class="left floated right aligned sixteen wide column">
        <div class="ui icon top right pointing floating dropdown circular button languages" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <!-- <input type="hidden" name="languages"> -->
          <i class="world icon" style="margin-right: 0;"></i>
          <span class="text" style="margin-left: 1em; margin-right: 0;" translate>Domyślny</span>

          <div class="menu transition hidden menu-languages">
            <div class="header">
              <span translate>Wyszukaj</span>
            </div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="{{'Wyszukaj' | translate}}">
            </div>

            <div class="scrolling menu">
              <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
                <div class="item" [attr.data-value]="language.code">
                  <i class="{{language.flag}} flag"></i>
                  <span class="description" translate>{{language.desc}}</span>
                  <span class="name">{{language.name}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <span class="pad-left-xs pad-right-xs"></span>

        <div class="ui icon top right pointing dropdown circular button themes" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <i class="theme icon"></i>
          <span class="ui {{sidebarService.activeTheme}} theme-primary empty circular label" style="margin: 0 .5em 0 1em; vertical-align: top;"></span>
          <span class="text pad-left-sm pad-right-sm" translate>Styl aplikacji</span>

          <div class="menu transition hidden menu-themes">
            <div class="scrolling menu">
              <ng-template ngFor let-theme let-last="last" [ngForOf]="sidebarService.getThemes">
                <div class="item" [attr.data-value]="theme">
                <div class="ui {{theme}} theme-primary empty circular label"></div>
                <span>{{theme}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="masthead-title">
    <div class="ui basic segment title">
      <div class="ui stackable grid">
        <div class="sixteen wide column" style="padding: 0;">

          <div class="ui large secondary menu">
            <div class="column">
              <h2 class="ui header" style="margin-bottom: 0;">
                <img src="../../../../assets/images/workteam4.png"
                  style="border-radius: 50%; border: .1em solid white; box-shadow: 0 0 0 5px rgba(34,36,38,.1);">

                <div class="content">
                  <span translate>common.app_title</span>
                  <div class="sub header">
                    <span translate>common.app_desc</span>
                  </div>
                </div>
              </h2>
              <div class="ui basic" style="margin-top: 0em; text-align: end; position: relative; z-index: 7;">
                <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                  backdrop-filter: blur(6px);">
                  <span>{{system.date}}</span>
                </div>
                <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                  backdrop-filter: blur(6px);">
                  <span>{{system.version}}</span>
                </div>
                <div class="ui small label" style="background-color: rgba(224,242,241 ,.6);
                  backdrop-filter: blur(6px);">
                  <span>{{system.type}}</span>
                </div>
              </div>
            </div>

            <div class="right menu inverted"></div>
          </div>
        </div>

        <div class="left floated right aligned sixteen wide column column-content" style="padding-top: 0; padding-bottom: 2em;">
          <ng-content [select]="button"></ng-content>
        </div>
      </div>
    </div>
  </div>

  <div class="masthead-login">
    <div class="ui stackable grid">
      <div class="eight wide column column-logo">
        <div class="background-logo" style="height: 100%;"></div>
      </div>
      <div class="eight wide column column-login">
        <div class="ui basic segment login">
          <ng-content select="[content]"></ng-content>
        </div>

        <div class="ui basic tertiary padded segment" style="padding: 1.75em 2em;">
          <div class="ui left aligned basic vertically fitted segment">
            <ng-content select="[hint]"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="masthead-footer">
    <div class="ui center aligned grid">
      <div class="column row">
        <div class="ui basic">
          <div class="ui secondary tertiary button" (click)="regulations()">
            <span translate>common.buttons.regulations</span>
          </div>
          <div class="ui secondary tertiary button" (click)="policy()">
            <span translate>common.buttons.policy</span>
          </div>
          <div class="ui secondary tertiary button" (click)="cookie()">
            <span translate>common.buttons.cookie</span>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
