.masthead-content {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}
.masthead-login {
  border: unset;
  border-radius: unset;
  box-shadow: -10px 0 25px 5px rgba(34,36,38,.1);
  background: rgba(255,255,255,1);

  width: 768px;
}
.masthead-footer {
	margin-top: 1em;
}

.login {
  border: unset;
  border-radius: unset;
  padding: 3em;

  height: 512px;
}
.login:before,
.login:before {
  z-index: 1;
  transform: translateX(-100%);
  position: absolute;
  top: 5%;
  left: 0;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 32px transparent;
  border-bottom: solid 32px transparent;
  border-right: solid 32px rgba(255,255,255,1);
}

@media screen and (min-width: 960px) {
  .column-logo {
    padding-right: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
  .column-login {
    padding-left: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
  .masthead-login {
    width: 680px;
  }
  .login {
    padding: 2.5em;
  }
  .column-logo {
    padding-right: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
  .column-login {
    padding-left: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
  }
}

@media only screen and (max-width: 768px) {
  .masthead-login {
    border-right: unset !important;
    width: 380px;
  }
  .login {
    padding: 2em;
  }
  .column-logo {
    display: none;
  }
  .column-login {
    padding: unset !important;
  }
}

.ui.tertiary.button {
  color: rgba(255,255,255,1) !important;

  &:hover {
    box-shadow: inset 0 -.5em 0 rgba(255,255,255,.8) !important;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    padding: 1em 0 !important;
    h1 {
      font-size: 18px !important;
    }
  }
  .column-content {
    padding: 1em 0 0 0 !important;

    .tertiary {
      margin: 0 !important;
    }
  }

  .ui.secondary.menu .basic {
    margin-top: -.1em !important;
  }
}

.ui.secondary.menu .item {
  // box-shadow: 0 0 25px -5px rgba(34,36,38,.1);
  // background: rgba(190,235,241,.25);
  z-index: 19;

  i.icon {
    opacity: .7;
  }
  span.text {
    padding-left: .25em;
  }

  &:hover {
    // background: rgba(190,235,241,.5);
  }
}
