<app-login-content2>
  <div button class="ui basic">
    <div class="ui tertiary button" [routerLink]="['/register']">
      <span translate>common.buttons.create_account</span>
    </div>
  </div>

  <div content class="ui basic">
    <form class="ui medium form form-login">

      <div class="ui basic">
        <h1 class="ui header">
          <div class="content">
            <span translate>login.welcome_title</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>login.welcome_desc</span>
            </div>
          </div>
        </h1>

        <div class="size-height-12"></div>

        <div class="field">
          <label>
            <span translate>login.form.username</span>
          </label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="userName" [(ngModel)]="userName" placeholder="{{'Nazwa użytkownika' | translate}}" type="text">
          </div>
        </div>
        <div class="field">
          <label translate>login.form.password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="password" [(ngModel)]="password" placeholder="{{'Hasło' | translate}}" type="password">
          </div>
        </div>

        <div *ngIf="error" class="ui basic segment" style="padding: 0;">
          <div class="ui icon negative message">
            <div class="content">
              <p *ngIf="error.message" translate>{{error.message}}</p>
              <ul *ngIf="error.errors" class="list">
                <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
                  <li translate>{{error.message}}</li>
                </ng-template>
              </ul>
            </div>
          </div>
        </div>

        <div class="ui error message"
          style="border-radius: 0;
            box-shadow: -7.5px 0px 0px 0px rgba(239,154,154,.2);
            background: rgba(255,235,238,.25);"></div>

        <div class="size-height-6"></div>

        <div class="field">
          <div class="sixteen wide field" style="text-align: right;">
            <a [routerLink]="['/password/reminder']">
              <i class="icon lock"></i>
              <span translate>login.form.reminder</span>
            </a>
          </div>
        </div>

        <div class="size-height-12"></div>

        <button class="ui fluid primary button" (click)="loginPasswordFlow()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
          <span translate>login.form.signin</span>
        </button>
      </div>

      <div class="size-height-12"></div>

      <div class="ui horizontal divider"><span translate>common.or</span></div>

      <h5 class="ui header">
        <div class="content">
          {{'Zaloguj przez' | translate}}
          <div class="sub header">{{'domenę' | translate}}</div>
        </div>
      </h5>
      <div class="fluid ui vertical buttons">
        <ng-template ngFor let-provider let-last="last" [ngForOf]="accountService.loginDomainProviders">
          <button class="ui button" [ngClass]="provider.name"
                (click)="loginAuthorizationCode(provider.key)">
            <i class="icon {{provider.icon}}"></i>
            <span>{{provider.name}}</span>
          </button>
          <span *ngIf="!last" class="size-height-12"></span>
        </ng-template>
      </div>

      <div class="size-height-12"></div>

      <div class="ui horizontal divider"><span translate>common.or</span></div>

      <h5 class="ui header">
        <div class="content">
          <span translate>login.signin_with</span>
          <div class="sub header">
            <span translate>login.signin_with_desc</span>
          </div>
        </div>
      </h5>
      <div class="ui basic left aligned" style="padding-top: 0;">
        <ng-template ngFor let-provider let-last="last" [ngForOf]="accountService.loginSocialProviders">
          <button class="ui circular icon button" [ngClass]="provider.class" matTooltip="{{provider.name}}" [matTooltipPosition]="'above'"
                (click)="loginAuthorizationCode(provider.key)" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);">
            <i class="icon {{provider.icon}}"></i>
          </button>
          <span *ngIf="!last" class="size-height-12"></span>
        </ng-template>
      </div>
    </form>
  </div>
</app-login-content2>
