<div #profile class="masthead-profile">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <ng-content select="[profile-content]"></ng-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0;"></div>
</div>

<div class="masthead-filters">
  <div class="ui column centered grid">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <div class="ui column grid">
            <div class="left aligned eight wide column">
              <button class="ui circular button"
                (click)="onBackForm()"
                matTooltip="{{'Wróć do poprzedniej strony' | translate}}"
                [matTooltipPosition]="'after'">

                <i class="undo icon"></i>
                <span translate>Wróć</span>
              </button>
            </div>
            <div class="right aligned eight wide column">
              <div layout="row" layout-align="end end">
                <ng-content select="[filters-content]"></ng-content>

                <span class="pad-xs"></span>
                <button
                  type="button" class="ui circular primary button"
                  style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);"
                  (click)="onSaveForm()">

                  <i class="check icon"></i>
                  <span translate>Zatwierdź</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <ng-content select="[content]"></ng-content>
      </div>
    </div>
  </div>
</div>