<div class="ui grid">
  <div class="six wide column">

    <div class="ui accordion selection short list table-short-list">

      <ng-template #permissionsList ngFor let-row let-last="last" [ngForOf]="data">
        <div class="item" [class.selected]="isSelected(row)" (click)="onSelected(row)" style="padding: 0;">
          <div class="title" style="padding: 0;">
            <div class="item" style="margin: 0; padding: 1.5em 2em;">
              <div class="content">
                <div class="ui two column grid">
                  <div class="middle aligned sixteen wide column">
                    <div class="content pad-left-md">
                      <div class="ui sub header" style="font-size: 1.1em;">{{row.name}}</div>
                      <div class="size-height-6"></div>
                      <div class="meta">

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="!last" style="padding: .3em 0;"></div> -->
      </ng-template>
    </div>
  </div>

  <div class="ten wide column">
    <div class="segment-row">
      <div class="ui basic segment segment-header" layout="row" layout-align="start start">
        <div layout="column" layout-align="start start" flex>
          <div class="ui items">
            <div class="item">

            </div>
          </div>

          <div class="size-height-12"></div>
        </div>

        <div layout="column" layout-align="start end" flex="25">
          <div layout="row">
            <button class="ui circular button"
              [routerLink]="['/management/users', currentItem?.id]"
              matTooltip="{{'Szczegóły' | translate}}" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">

              <i class="pencil icon"></i>
              <span translate>Szczególy</span>
            </button>
          </div>
        </div>
      </div>

      <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
    </div>
  </div>
</div>