<app-widget-content [widget]="widget">
  <div content class="ui aligned grid" style="margin: 0; padding: 0;">
    <div class="sixteen wide column" style="padding: .5em;">
      <div layout="row" layout-align="center start" layout-wrap flex>
        <ng-template ngFor let-gauge let-i="index" let-last="last" [ngForOf]="gauges">
          <ngx-gauge [type]="gauge.type"
            [value]="gauge.value"
            [max]="gauge.max"
            [label]="gauge.label"
            [append]="gauge.appendText"
            [cap]="'round'"
            [size]="140"
            [thick]="9"
            [foregroundColor]="gauge.foregroundColor"
            style="margin: 1em;">
          </ngx-gauge>
        </ng-template>
      </div>
    </div>
  </div>
</app-widget-content>