@import './styles/theme.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
// $typography: mat-typography-config(
//   $font-family: 'Roboto, monospace',
//   $headline: mat-typography-level(32px, 48px, 700)
// );

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core($typography);

// $mat-mcgpalette: (
//   50 : #e5f7f9,
//   100 : #beebf1,
//   200 : #93dee8,
//   300 : #67d1de,
//   400 : #47c7d7,
//   500 : #26bdd0,
//   600 : #22b7cb,
//   700 : #1caec4,
//   800 : #17a6be,
//   900 : #0d98b3,
//   A100 : #e0faff,
//   A200 : #adf1ff,
//   A400 : #7ae8ff,
//   A700 : #61e3ff,
//   contrast: (
//     50 : #000000,
//     100 : #000000,
//     200 : #000000,
//     300 : #000000,
//     400 : #000000,
//     500 : #000000,
//     600 : #000000,
//     700 : #000000,
//     800 : #ffffff,
//     900 : #ffffff,
//     A100 : #000000,
//     A200 : #000000,
//     A400 : #000000,
//     A700 : #000000,
//   )
// );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $primary: mat-palette($mat-mcgpalette, 600);
// $accent: mat-palette($mat-mcgpalette, 400);

// The warn palette is optional (defaults to red).
// $warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($theme);
// @include covalent-theme($theme); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
// @include covalent-markdown-theme($theme);
// @include covalent-highlight-theme();

// $foreground: map-get($theme, foreground);
// $background: map-get($theme, background);

// scrollbar
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  background: rgba(236,239,241 ,1) !important;
  opacity: .6 !important;
  border-radius: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: rgba(224,224,224 ,1) !important;
  opacity: .8 !important;
  border-radius: 5px !important;
}

// angular calendar
.cal-month-view .cal-open-day-events {
  color: black !important;
  padding: 10px !important;
  margin-bottom: 1em;
  background-color: #FAFAFA !important;
  box-shadow: none !important;
  border-top: .1em solid #E0E0E0;
  border-bottom: .25em solid #B0BEC5;
  overflow-y: auto;
  max-height: 200px;
}
.cal-month-view .cal-days {
  border-color: transparent !important;
  border: none !important;
}
.cal-month-view .cal-events {
  margin: 0 5px !important;
  line-height: normal !important;
  flex: 0 !important;
  display: block !important;
}
.cal-month-view .cal-cell-top {
  min-height: 48px !important;
}
.cal-month-view .cal-day-badge {
  background-color: rgba(144,164,174,1) !important;
  margin-top: 12px !important;
  margin-left: 8px !important;
}
.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 1.2em !important;
  font-weight: bold !important;
}
.cal-month-view .cal-day-number {
  font-size: 1.2em !important;
}
.cal-month-view .cal-cell-row {
  border-top: 1px solid #e1e1e1 !important;
}
.cal-month-view .cal-day-cell {
  min-height: 72px;
  width: 100px;
}
.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: none !important;
}
.cal-month-view .cal-day-cell.cal-today {
  background-color: rgba(169,196,199,.25) !important;
}
.cal-week-view .cal-time-events .cal-event {
  line-height: 26px !important;
}
.cal-week-view .cal-event {
  color: black !important;
}
.cal-event-actions {
  position: relative;
  top: 4px;
  .material-icons {
    font-size: large !important;
    color: #4d6c8b !important;
  }
}

// default site
.masthead-style {
}
.masthead-main {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}
.masthead-loading {
	margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;

  z-index: 119;
  position: fixed;
  width: 100%;
}
.masthead-content {
	padding: 2em 6em 0 6em;
}
.masthead-menu {
	margin: 0;
	backdrop-filter: blur(2px);
	background: rgba(255,255,255,1);
	padding: 1em 6em;
	box-shadow: 0 -5px 25px 5px rgba(34,36,38,.1);
  z-index: 109;
  position: absolute !important;
  top: 0;
  width: 100%;
}
.hidden.masthead-menu, .hidden.masthead-users {
	display: none;
}

@media screen and (min-width: 960px) {
  .themes {
    span.text {
      display: none !important;
    }
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .masthead-style {
    padding: 0;
    margin: 0;

    z-index: 129;
  }
  .masthead-title {
    padding-top: 2em;
  }
  .masthead-content {
    padding: 2em 3em 0 3em;
  }
  .masthead-menu {
    padding: 1em 4em;
  }

  .languages {
    span.text {
      span.name {
        display: none;
      }
      span.description {
        display: none;
      }
    }
  }

  .themes {
    span.text {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .masthead-style {
    padding: 1em 0em;
    top: 0;

    z-index: 129;
  }
  .masthead-title {
    padding-top: 2em;
  }
  .masthead-content {
    padding: 0;
  }
  .masthead-menu {
    padding: 1em 3em;
  }

  .languages {
    span.text {
      span.name {
        display: none;
      }
      span.description {
        display: none;
      }
    }
  }

  .themes {
    span.text {
      display: none !important;
    }
  }
}

.fade-in {
	animation: fadeInAnimation ease .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

span.mdi {
  margin-bottom: 4px;
}

.themes {
  span.circular {
    border: 50%;
    border: .1em solid rgba(255,255,255,.75);
  }
}

.modal-contact {
	width: 440px !important;
}

// ngx-avatar
.avatar-content {
	box-shadow: 0 0 0 3px rgba(34,36,38,.1) !important;
  border-radius: 100% !important;
}

// ngx-gauge
.reading-block {
  overflow: unset !important;
}

.menu-panel-sidenav {
  margin-top: -.5em;
  margin-left: 5em;
}

.wg-widget-content {
  overflow: unset !important;
  padding: 1em !important;
}

.widgets {
  height: 100%;
}
.segment-widgets {
  height: calc(100vh - 150px);
  padding: 0 !important;
}

.segment-row {
  position: sticky;
  top: 15em;
}

.mat-tab-group {
  margin: 0 -1em !important;
}
.mat-tab-header {
  margin: 0 1em !important;
}
.mat-tab-body {
  margin: 0 !important;
  
  .segment.bgc-grey-50 {
    margin: 0 1em !important;
  }
  .segment.grid {
    margin: 0 !important;
  }

  .divider {
    margin: 0 1em !important;
  }
}