div[td-sidenav-content] {
	&.sidenav-menu {
		overflow: hidden;
	}
	&.sidenav-profile {
		background-color: rgba($color: #cccbd5, $alpha: .1);
		overflow-x: hidden;
	}
	&.sidenav-filters {
		background-color: rgba($color: #cccbd5, $alpha: .1);
		overflow-x: hidden;
	}
}
.td-layout-sidenav {
  border-right: none !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
	  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
	  0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
}
.td-loading {
  backdrop-filter: blur(4px);
  background: rgba(0,0,0,.1);
  min-height: 0 !important;
}
.td-loading-wrapper {
  min-height: 0 !important;
}
