mat-nav-list.sidenav-menu {
  [mat-list-item] {
    display: block;
    border-left: 0px solid #BDBDBD;
    text-align: center;
    height: 60px;
    margin-top: 6px;
    margin-bottom: 8px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  [mat-list-item].selected {
    background-color: rgba(0,0,0,.1);
    border-right: 3px solid #F5F5F5;
  }
  [mat-list-item]:hover {
    background-color: rgba(0,0,0,.06);
    border-right: 3px solid #F5F5F5;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
mat-icon {
  opacity: .7;
}

.mat-nav-list .mat-list-item.mat-list-item-avatar {
  height: 60px;
}
.mat-drawer-side {
  border-right: solid 0 rgba(0,0,0,.12);
}
.mat-ink-bar {
  height: .3em !important;
}
.mat-tab-label-active {
  background-color: rgba(128,203,196,.1);
}
.mat-tab-label:hover {
  background-color: rgba(0,0,0,.1);
}
.mat-tab-link:hover {
  background-color: rgba(0,0,0,.1);
}

