$cm-palette: (
  background-logo: '/assets/images/OJXL4G0-cm.jpg',

  50 : #eff2f3,
  100 : #d7dee1,
  200 : #bcc8ce,
  300 : #a1b1ba,
  400 : #8ca1ab,
  500 : #78909c,
  600 : #708894,
  700 : #657d8a,
  800 : #5b7380,
  900 : #48616e,
  A100 : #cdedff,
  A200 : #9adbff,
  A400 : #67c8ff,
  A700 : #4dbfff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$dg-palette: (
  background-logo: '/assets/images/OJXL4G0-dg.jpg',

  50 : #fffaed,
  100 : #fff4d1,
  200 : #ffecb3,
  300 : #ffe494,
  400 : #ffdf7d,
  500 : #ffd966,
  600 : #ffd55e,
  700 : #ffcf53,
  800 : #ffca49,
  900 : #ffc038,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff5e1,
  A700 : #ffedc8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mb-palette: (
  background-logo: '/assets/images/OJXL4G0-mb.jpg',

  50 : #edeaf4,
  100 : #d1cae5,
  200 : #b3a7d3,
  300 : #9583c1,
  400 : #7e69b4,
  500 : #674ea7,
  600 : #5f479f,
  700 : #543d96,
  800 : #4a358c,
  900 : #39257c,
  A100 : #cbbdff,
  A200 : #a28aff,
  A400 : #7a57ff,
  A700 : #663dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mk-palette: (
  background-logo: '/assets/images/OJXL4G0-mk.jpg',

  50 : #fcf3f3,
  100 : #f9e0e0,
  200 : #f5cccc,
  300 : #f0b8b8,
  400 : #eda8a8,
  500 : #ea9999,
  600 : #e79191,
  700 : #e48686,
  800 : #e17c7c,
  900 : #db6b6b,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffeaea,
  A700 : #ffd0d0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mm-palette: (
  background-logo: '/assets/images/OJXL4G0-mm.jpg',

  50 : #f3f8fc,
  100 : #e2eef8,
  200 : #cfe2f4,
  300 : #bcd6ef,
  400 : #adceeb,
  500 : #9fc5e8,
  600 : #97bfe5,
  700 : #8db8e2,
  800 : #83b0de,
  900 : #72a3d8,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #eef6ff,
  A700 : #d4e9ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ts-palette: (
  background-logo: '/assets/images/OJXL4G0-ts.jpg',

  50 : #f2f8ef,
  100 : #dfedd8,
  200 : #c9e2be,
  300 : #b3d6a4,
  400 : #a3cd91,
  500 : #93c47d,
  600 : #8bbe75,
  700 : #80b66a,
  800 : #76af60,
  900 : #64a24d,
  A100 : #ffffff,
  A200 : #daffcd,
  A400 : #b4ff9a,
  A700 : #a1ff80,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$murek-palette: (
  background-logo: '/assets/images/OJXL4G0-murek.jpg',

  50 : #e5f7f9,
  100 : #beebf1,
  200 : #93dee8,
  300 : #67d1de,
  400 : #47c7d7,
  500 : #26bdd0,
  600 : #22b7cb,
  700 : #1caec4,
  800 : #17a6be,
  900 : #0d98b3,
  A100 : #e0faff,
  A200 : #adf1ff,
  A400 : #7ae8ff,
  A700 : #61e3ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$bb-palette: (
  background-logo: '/assets/images/OJXL4G0-bb.jpg',

  50 : #fcf3e7,
  100 : #f8e0c2,
  200 : #f3cc99,
  300 : #eeb770,
  400 : #eaa752,
  500 : #e69833,
  600 : #e3902e,
  700 : #df8527,
  800 : #db7b20,
  900 : #d56a14,
  A100 : #ffffff,
  A200 : #ffe4d2,
  A400 : #ffc69f,
  A700 : #ffb785,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ag-palette: (
  background-logo: '/assets/images/OJXL4G0-ag.jpg',

  50 : #ebf1fb,
  100 : #ceddf5,
  200 : #adc7ee,
  300 : #8cb0e7,
  400 : #739fe1,
  500 : #5a8edc,
  600 : #5286d8,
  700 : #487bd3,
  800 : #3f71ce,
  900 : #2e5fc5,
  A100 : #ffffff,
  A200 : #d4e1ff,
  A400 : #a1beff,
  A700 : #88acff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ms-palette: (
  background-logo: '/assets/images/OJXL4G0-ms.jpg',

  50 : #eef2f7,
  100 : #d4deec,
  200 : #b8c9df,
  300 : #9bb3d2,
  400 : #85a2c8,
  500 : #7092be,
  600 : #688ab8,
  700 : #5d7faf,
  800 : #5375a7,
  900 : #416399,
  A100 : #eef4ff,
  A200 : #bbd4ff,
  A400 : #88b4ff,
  A700 : #6ea4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mw-palette: (
  background-logo: '/assets/images/OJXL4G0-mw.jpg',

  50 : #f8eff4,
  100 : #edd7e3,
  200 : #e1bdd0,
  300 : #d4a3bd,
  400 : #cb8fae,
  500 : #c27ba0,
  600 : #bc7398,
  700 : #b4688e,
  800 : #ac5e84,
  900 : #9f4b73,
  A100 : #fffcfd,
  A200 : #ffc9e2,
  A400 : #ff96c7,
  A700 : #ff7cb9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$wm-palette: (
  background-logo: '/assets/images/OJXL4G0-wm.jpg',

  50 : #e8f0f8,
  100 : #c5daee,
  200 : #9ec2e3,
  300 : #77aad7,
  400 : #5a97cf,
  500 : #3d85c6,
  600 : #377dc0,
  700 : #2f72b9,
  800 : #2768b1,
  900 : #1a55a4,
  A100 : #dae9ff,
  A200 : #a7caff,
  A400 : #74abff,
  A700 : #5b9cff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
