@import '~@angular/material/theming';

@import '~@covalent/core/theming/all-theme';
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

@import 'palette.scss';

$typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core();

$themes-map: (
  style-cm: (
    primary-base: $cm-palette,
    accent-base: $cm-palette,
  ),
  style-dg: (
    primary-base: $dg-palette,
    accent-base: $dg-palette,
  ),
  style-mb: (
    primary-base: $mb-palette,
    accent-base: $mb-palette,
  ),
  style-mk: (
    primary-base: $mk-palette,
    accent-base: $mk-palette,
  ),
  style-mm: (
    primary-base: $mm-palette,
    accent-base: $mm-palette,
  ),
  style-ts: (
    primary-base: $ts-palette,
    accent-base: $ts-palette,
  ),
  style-murek: (
    primary-base: $murek-palette,
    accent-base: $murek-palette,
  ),
  style-bb: (
    primary-base: $bb-palette,
    accent-base: $bb-palette,
  ),
  style-ag: (
    primary-base: $ag-palette,
    accent-base: $ag-palette,
  ),
  style-ms: (
    primary-base: $ms-palette,
    accent-base: $ms-palette,
  ),
  style-mw: (
    primary-base: $mw-palette,
    accent-base: $mw-palette,
  ),
  style-wm: (
    primary-base: $wm-palette,
    accent-base: $wm-palette,
  )
);

@mixin themed-stylesheets($mat-theme) {
  // We only need "primary-color" and "accent-color" in this example. So commented out other (not-necessary)
  // things. Uncomment each you need.

  $primary: mat-palette(map-get($mat-theme, primary), 600);
  $accent: mat-palette(map-get($mat-theme, accent), 400);
  // $warn: map-get($mat-theme, warn);

  // $background: map-get($mat-theme, background);
  // $foreground: map-get($mat-theme, foreground);

  $primary-color: mat-color($primary);
  $accent-color: mat-color($accent);
  // $warn-color: mat-color($warn);

  @include covalent-theme($mat-theme);

  @include covalent-markdown-theme($mat-theme);
  @include covalent-highlight-theme();

  .background-logo {
    background: url(map-get(map-get($mat-theme, primary), 'background-logo')) no-repeat bottom center;
    background-size: cover;
    height: 100%;
  }

  //// Background colors:
  //$status-bar-color:               map-get($background, 'status-bar'              );
  //$app-bar-color:                  map-get($background, 'app-bar'                 );
  //$background-color:               map-get($background, 'background'              );
  //$hover-color:                    map-get($background, 'hover'                   );
  //$card-color:                     map-get($background, 'card'                    );
  //$dialog-color:                   map-get($background, 'dialog'                  );
  //$disabled-button-color:          map-get($background, 'disabled-button'         );
  //$raised-button-color:            map-get($background, 'raised-button'           );
  //$focused-button-color:           map-get($background, 'focused-button'          );
  //$selected-button-color:          map-get($background, 'selected-button'         );
  //$selected-disabled-button-color: map-get($background, 'selected-disabled-button');
  //$disabled-button-toggle-color:   map-get($background, 'disabled-button-toggle'  );
  //$unselected-chip-color:          map-get($background, 'unselected-chip'         );
  //$disabled-list-option-color:     map-get($background, 'disabled-list-option'    );

  //// Foreground colors:
  //$base-color:              map-get($foreground, 'base'             );
  //$divider-color:           map-get($foreground, 'divider'          );
  //$dividers-color:          map-get($foreground, 'dividers'         );
  //$disabled-color:          map-get($foreground, 'disabled'         );
  //$disabled-button-color:   map-get($foreground, 'disabled-button'  );
  //$disabled-text-color:     map-get($foreground, 'disabled-text'    );
  //$elevation-color:         map-get($foreground, 'elevation'        );
  //$hint-text-color:         map-get($foreground, 'hint-text'        );
  //$secondary-text-color:    map-get($foreground, 'secondary-text'   );
  //$icon-color:              map-get($foreground, 'icon'             );
  //$icons-color:             map-get($foreground, 'icons'            );
  //$text-color:              map-get($foreground, 'text'             );
  //$slider-min-color:        map-get($foreground, 'slider-min'       );
  //$slider-off-color:        map-get($foreground, 'slider-off'       );
  //$slider-off-active-color: map-get($foreground, 'slider-off-active');

  //$is-dark: map-get($mat-theme, is-dark);

  // Define themed-stylesheets here:
  a {
    color: $primary-color;
    &:hover {
      color: $accent-color;
      cursor: pointer;
    }
  }

  .masthead-login {
    border-right: 1em solid $primary-color !important;
  }
  @media only screen and (max-width: 768px) {
    .masthead-login {
      border-top: 1em solid $primary-color !important;
    }
  }

  .widget-header {
    border-top: .5em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;

    h4 {
      i.icon {
        color: $primary-color !important;
      }
    }
    .settings {
      .settings-icon {
        color: $primary-color !important;
      }
      &:hover {
        background-color: $primary-color !important;
        .settings-icon {
          color: white !important;
        }
      }
    }
  }
  .widget-content {
    height: 100% !important;
  }

  .button-dash {
    background-color: $primary-color !important;
    &:hover {
      background-color: $accent-color !important;
    }
  }
  .circular.notifications, .circular.settings, .circular.themes, .circular.languages,
  .circular.account-settings, .circular.account-comment {
    &:hover {
      color: rgba(0,0,0,.6) !important;
      background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
    }
  }

  .segment-filters {
    margin-top: .3em !important;
    border-top: .2em solid $primary-color !important;

    h3 {
      i.icon {
        color: $primary-color !important;
      }
    }

    [td-chip-avatar] {
      background-color: $primary-color !important;
    }
  }
  .segment-header {
    padding-bottom: 0 !important;
    border-top: .5em solid mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
    box-shadow: 0 -10px 25px -5px rgba(0,0,0,.1) !important;
  }
  .segment-subheader {
    padding-bottom: 0 !important;
    border-top: .2em solid rgba(238,238,238,1) !important;
    box-shadow: 0 -10px 25px -10px rgba(0,0,0,.1) !important;
  }
  .segment-content {
    margin: 0;
    padding: 0;
  }

  .table-info {
    h3 {
      span.text-count {
        color: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
      }
    }

    .table-info-line {
      margin-top: 0em;
      border-bottom-width: .2em;
      border-bottom-style: solid;
      border-bottom-color: mat-color(mat-palette(map-get($mat-theme, primary), 200));
    }
  }
  .table-header {
    margin: 0;
    box-shadow: 0 0px 25px -5px rgba(0,0,0,.1) !important;
    background-color: mat-color(mat-palette(map-get($mat-theme, primary), 50)) !important;
  }
  .table-divider {
    margin: 0;
    border-top: .25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
    // position: sticky;
    // top: 13.7em;
    // z-index: 1;
  }
  .table-list {
    margin: 0;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);

    .ui.tertiary.button {
	    margin-left: .5em !important;
	    margin-right: .5em !important;
      color: rgba(97,97,97,1) !important;
      &:hover {
        box-shadow: inset 0 -.4em 0 rgba(97,97,97,1) !important;
      }
    }
  }
  .table-button {
    background-color: white;
    &:hover {
      background-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
    }
  }
  .table-short-list {
    margin: 0;
    padding: 0;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
  }

  .header-line {
    margin-top: .2em;
    width: 5em;
    border-bottom-width: .1em;
    border-bottom-style: solid;
    border-bottom-color: mat-color(mat-palette(map-get($mat-theme, primary), 100));
  }

  .steps .title {
    color: mat-color(mat-palette(map-get($mat-theme, primary), 800)) !important;
  }

  .stepper-divider {
    margin: 0;
    border-top: .25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
  }

  .accordion-divider {
    margin-top: 1em;
    border-top: .25em solid mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
  }

  .button-checkbox {
    background-color: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
    &:hover {
      background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
    }
    label:before {
      border-color: mat-color(mat-palette(map-get($mat-theme, primary), 600));
    }
    label:after {
      border-color:  mat-color(mat-palette(map-get($mat-theme, primary), 600));
      background-color:  mat-color(mat-palette(map-get($mat-theme, primary), 600));
    }
  }
  .button-back {
    background-color: white;
    &:hover {
      background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
    }
  }
  .button-sidebar {
    background-color: mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
    &:hover {
      background-color: mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
    }
  }

  .wg-resize-axis {
    background-color:  mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
  }
  .wg-resize-diag {
    border-color:  mat-color(mat-palette(map-get($mat-theme, primary), 400)) !important;
  };

  .avatar-content {
    background-color: mat-color(mat-palette(map-get($mat-theme, primary), 600)) !important;
  }

  .ui.secondary.menu a.item {
    background: mat-color(mat-palette(map-get($mat-theme, primary), 50)) !important;
  }
  .ui.button.primary {
    background-color: $primary-color;
    &:hover {
      background-color: $accent-color;
    }
    &:active {
      background-color: $primary-color;
    }
    &:visited  {
      background-color: $primary-color;
    }
    &:focus {
      background-color: $primary-color;
    }
  }
  .ui.label.primary {
    background-color: $primary-color !important;
  }
  .ui.toggle.checkbox input:checked ~ .box:before,
  .ui.toggle.checkbox input:checked ~ label:before {
    background-color: $primary-color !important;
  }
  .ui.toggle.checkbox input:focus:checked ~ .box:before,
  .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: $primary-color !important;
  }
  .ui.selection.list .list>.item.selected:before,
  .ui.selection.list>.item.selected:before {
    content: '';
    position: absolute;
    height: 100%;
    left: -7px;
    border-left: .5em solid mat-color(mat-palette(map-get($mat-theme, primary), 400));
  }
  .ui.selection.short.list .list>.item.selected:before,
  .ui.selection.short.list>.item.selected:before {
    content: '';
    position: absolute;
    height: 100%;
    left: -7px;
    border-left: .5em solid mat-color(mat-palette(map-get($mat-theme, primary), 400));
  }
  .ui.selection.short.list .list>.item:hover,
  .ui.selection.short.list>.item:hover {
    background-color: rgba(236,239,241,.5) !important;
  }
  .ui.selection.short.list .list>.item.selected,
  .ui.selection.short.list>.item.selected {
    position: relative;
    box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  }
  .ui.selection.short.list .list>.item.selected:last-child,
  .ui.selection.short.list>.item.selected:last-child {
    box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  }
  .ui.selection.short.list .list>.item:last-child,
  .ui.selection.short.list>.item:last-child {
    box-shadow: 0 20px 25px 10px rgba(255,255,255,1);
  }
  .ui.selection.list .list>.item:hover,
  .ui.selection.list>.item:hover {
    background-color: rgba(236,239,241,.5) !important;
  }
  .ui.selection.list .list>.item.selected,
  .ui.selection.list>.item.selected {
    position: relative;
    box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  }
  .ui.selection.list .list>.item.selected:last-child,
  .ui.selection.list>.item.selected:last-child {
    box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  }
  .ui.selection.list .list>.item:last-child,
  .ui.selection.list>.item:last-child {
    box-shadow: 0 20px 25px 10px rgba(255,255,255,1);
  }

  .ui.vertical.steps .step.active:before,
  .ui.vertical.steps>.step.active:before {
    content: '';
    position: absolute;
    height: 100%;
    left: -7px;
    border-left: .5em solid mat-color(mat-palette(map-get($mat-theme, primary), 400));
  }

  .ui.tertiary.button {
    margin-left: 1em !important;
    margin-right: 1em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: rgba(0,0,0,1) !important;

    &:hover {
      padding-left: 0 !important;
      padding-right: 0 !important;
      box-shadow: inset 0 -.5em 0 mat-color(mat-palette(map-get($mat-theme, primary), 800)) !important;
    }
  }

  mat-nav-list, mat-list {
    [mat-list-item].active {
      mat-icon[matListAvatar] {
      background-color: $accent-color;
      color: $accent-color;
      }
      mat-icon[matListIcon] {
      color: $accent-color;
      }
    }
  }
  .mat-drawer-container {
    background-image: linear-gradient(to left top,
      mat-color(mat-palette(map-get($mat-theme, primary), 900)),
      mat-color(mat-palette(map-get($mat-theme, primary), 700)),
      mat-color(mat-palette(map-get($mat-theme, primary), 600)),
      mat-color(mat-palette(map-get($mat-theme, primary), 500)),
      mat-color(mat-palette(map-get($mat-theme, primary), 300)));
  }
  .mat-ink-bar {
    background-color: mat-color(mat-palette(map-get($mat-theme, primary), 200)) !important;
  }
  .mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 3px solid mat-color(mat-palette(map-get($mat-theme, primary), 100)) !important;
  }

  div[td-sidenav-content] {
    &.sidenav-menu {
      background-image: linear-gradient(to bottom,
        mat-color(mat-palette(map-get($mat-theme, primary), 400)),
        mat-color(mat-palette(map-get($mat-theme, primary), 500)),
        mat-color(mat-palette(map-get($mat-theme, primary), 600)),
        mat-color(mat-palette(map-get($mat-theme, primary), 700)),
        mat-color(mat-palette(map-get($mat-theme, primary), 900)));
    }
  }
}

// Import the module and do the job:
@import '~angular-material-dynamic-themes/themes-core';
@include make-stylesheets($themes-map);
