<app-widget-content [widget]="widget">
  <div content class="ui aligned grid">
    <div class="sixteen wide column" style="padding: 1em;">
      <div class="ui icon info message">
        <i class="quote left icon"></i>
        <div class="content">
          <h4 class="ui header">
            <span>{{quotation?.title | translate}}</span>
            <div class="sub header" style="padding-top: 1em; text-align: right; opacity: .7;">
            <span style="font-style: italic;">{{quotation?.author | translate}}</span>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</app-widget-content>