<app-login-content2>
  <div button class="ui basic">
    <div class="ui tertiary button" (click)="return()">
      <span translate>common.buttons.back</span>
    </div>
  </div>

  <div content class="ui basic">
    <form class="ui medium form form-register">
      <div class="ui basic segment">
        <div class="ui top left attached red label">404</div>

        <!-- <h1 class="ui header">
          <div class="content">
            <span translate>login.error.error_login</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>login.error.error_problem</span>
            </div>
          </div>
        </h1> -->

        <div class="size-height-12"></div>

        <p>
          <span class="ui large red text" translate>not_found.title</span>
        </p>
        <span class="ui text" translate>not_found.desc</span>
      </div>
    </form>
  </div>
</app-login-content2>
