<app-login-content>
  <div button class="ui basic">
    <div class="ui tertiary button" [routerLink]="['/login']">
      <span translate>common.buttons.sign_in</span>
    </div>
  </div>

  <div content class="ui basic">
    <form class="ui medium form form-lock">
      <div class="ui basic">
        <h1 class="ui header">
          <div class="content">
            <span translate>Ekran blokady</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>dostęp do konta zablokowany</span>
            </div>
          </div>
        </h1>

        <div class="size-height-12"></div>

        <div layout="column" layout-align="center center">
          <ngx-avatar name="{{userLogged?.fullName}}" size="80"></ngx-avatar>

          <span class="size-height-12"></span>
          <span style="font-weight: bold; font-size: 14px;">{{userLogged?.fullName}}</span>
        </div>

        <div class="size-height-24"></div>

        <p class="ui text" style="opacity: .5;" translate>Wpisz swoje hasło dostępu do konta aby odblokować ekran aplikacji.</p>

        <div class="size-height-12"></div>

        <!-- <div class="field">
          <label>
            <span translate>login.form.username</span>
          </label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="userName" [(ngModel)]="userName" placeholder="{{'Nazwa użytkownika' | translate}}" type="text">
          </div>
        </div> -->
        <div class="field">
          <label translate>login.form.password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="password" [(ngModel)]="password" placeholder="{{'Hasło' | translate}}" type="password">
          </div>
        </div>

        <div *ngIf="error" class="ui basic segment" style="padding: 1em 0 0;">
          <div class="ui icon negative message">
            <div class="content">    
              <p *ngIf="error.message" translate>{{error.message}}</p>
              <ul *ngIf="error.errors" class="list">
                <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
                  <li translate>{{error.message}}</li>
                </ng-template>
              </ul>
            </div>
          </div>
        </div>

        <div class="ui error message"
          style="border-radius: 0;
            box-shadow: -7.5px 0px 0px 0px rgba(239,154,154,.2);
            background: rgba(255,235,238,.25);"></div>

        <div class="size-height-6"></div>

        <button class="ui fluid primary button" (click)="unlock()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
          <span translate>Odblokuj</span>
        </button>
      </div>

      <div class="size-height-12"></div>
    </form>
  </div>

  <div hint class="ui basic">
    <span class="ui medium text">
      <span translate>
        Chcesz zalogować się na inne konto? <a (click)="onLogout()"> <span translate>Wyloguj</span></a>.
      </span>
    </span>
  </div>
</app-login-content>