.masthead-profile {
  margin: 0 !important;
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
.masthead-filters {
  margin: -3.5em 6em 0 6em;
  position: sticky;
  top: 6.25em;
  z-index: 3;
}

.account-settings, .account-comment {
  background: white;

  &:hover {
    color: white !important;
  }
}
