<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <mat-tab-group animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
              <mat-tab label="{{'Dane osobowe' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Dane osobowe' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">

                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Kwalifikacje' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Kwalifikacje' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">

                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Badania i uprawnienia' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Badania i uprawnienia' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">

                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Zatrudnienie' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Zatrudnienie' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">

                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Staż' | translate}}">
                <div class="ui basic segment bgc-grey-50" style="margin: 0;">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Staż' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment">

                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
