<app-details-template [headerConfig]="headerConfig"
  (saveForm)="onSaveForm()"
  (backForm)="onBackForm($event)">

  <div profile-content layout="row" layout-align="start start" style="padding-bottom: 1em;">
    <h3 class="ui header">
      <ngx-avatar class="ui image" name="{{user?.fullName}}" size="64"></ngx-avatar>

      <div class="content" style="padding-left: 1em;">
        <div layout="row" layout-align="start center" style="margin-left: .4em;" flex>
          <span class="ui large text">{{user?.fullName}}</span>
        </div>

        <div class="size-height-12"></div>

        <div class="sub header">
          <div class="ui label"><i class="at icon"></i> {{user?.email}}</div>
          <div *ngIf="user?.phoneNumber" class="ui label"><i class="phone icon"></i> {{user?.phoneNumber}}</div>
          <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
        </div>
      </div>
    </h3>

    <div class="size-width-50"></div>

    <div layout="row" layout-align="end end" flex>
      <ng-template ngFor let-stat let-i="index" let-last="last" [ngForOf]="stats">
        <div class="ui tiny grey statistic" style="margin: 0; padding: 0 2em;">
          <div class="label tc-grey-400" style="padding-bottom: .1em; text-align: left;">
            <span style="font-size: 75%;" translate>{{stat.name}}</span>
          </div>
          <div class="value">
            <span style="font-size: 50%;">{{stat.value}}</span>
            <div style="margin-top: 0em; width: 1em; border-bottom-width: .2em; border-bottom-style: solid;"
              [ngStyle]="{'border-bottom-color': stat.color}"></div>
          </div>

        </div>
      </ng-template>
    </div>
  </div>

  <div filters-content class="ui basic">
    <div class="ui icon top left pointing floating dropdown circular button account-settings" >
      <i class="user cog icon"></i>
      <span class="text pad-left-sm pad-right-sm" translate>Ustawienia</span>
      <i class="dropdown icon"></i>

      <div class="menu transition hidden menu-account-settings">
        <div class="item" (click)="accountSetPassword()">
          <i class="unlock alternate icon"></i>
          <span translate>Ustaw hasło</span>
        </div>
        <div class="item" (click)="accountResetPassword()">
          <i class="refresh icon"></i>
          <span translate>Resetuj hasło</span>
        </div>
        <div class="divider"></div>
        <div class="item" (click)="accountSendActivate()">
          <i class="at icon"></i>
          <span translate>Wyślij link z aktywacją</span>
        </div>
        <div class="item" (click)="accountSetActivate()">
          <i class="unlock icon"></i>
          <span translate>Aktywuj konto</span>
        </div>
        <div class="item" (click)="accountSetBlock()">
          <i class="lock icon"></i>
          <span translate>Zablokuj dostęp</span>
        </div>
        <div class="divider"></div>
        <div class="item" (click)="accountDelete()">
          <i class="red trash icon"></i>
          <span translate>Usuń konto</span>
        </div>
      </div>
    </div>
  </div>

  <div content class="ui basic segment">
    <form class="ui form">
      <mat-tab-group animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
        <!-- szczegóły konta -->
        <mat-tab label="{{'Szczegóły konta' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span translate>Szczegóły konta</span>
                <div class="sub header" translate>Podstawowe informacje o tworzonym koncie lub dane pobrane z usługi Active Directory.</div>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment" style="margin: 0;">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">
                  <!-- <div class="row">
                    <div class="six wide column">
                      <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Numer pracownika</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.employeeNumber"
                            type="text" name="employeeNumber" placeholder="{{'Wprowadź' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div> -->
                  <div class="row">
                    <div class="six wide column">
                      <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Nazwa konta</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.userName"
                            type="text" name="userName" placeholder="{{'Wprowadź' | translate}}">
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Nazwa wymaga wprowadzenia znaków specjalnych</li>
                          <li translate>Nazwa wymaga minimum 8 znaków</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small at icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Adres e-mail</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.email"
                            type="text" name="email" placeholder="{{'Wprowadź' | translate}}">
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Adres powinien zawierać odpowiednie znaki</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small font icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Imię (imiona)</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.firstName"
                            type="text" name="firstName" placeholder="{{'Wprowadź' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small font icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Nazwisko</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.lastName"
                            type="text" name="lastName" placeholder="{{'Wprowadź' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small phone icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Numer kontaktowy</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.phoneNumber"
                            type="text" name="phoneNumber" placeholder="{{'Wprowadź' | translate}}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab>

        <!-- bezpieczeństwo -->
        <!-- <mat-tab label="{{'Bezpieczeństwo' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span translate>Hasło użytkownika</span>
                <div class="sub header" translate>Zmiana hasła użytkownika dostępu do konta w systemie lub informacje pobrane z usługi Active Directory.</div>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment" style="margin: 0;">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">
                  <div class="row">
                    <div class="six wide column">
                      <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Stare hasło</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.password"
                            type="password" name="password" placeholder="{{'Wprowadź' | translate}}">
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Hasło wymaga wprowadzenia znaków specjalnych</li>
                          <li translate>Hasło wymaga minimum 10 znaków</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Nowe hasło</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.passwordNew"
                            type="password" name="passwordNew" placeholder="{{'Wprowadź' | translate}}">
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Hasło wymaga wprowadzenia znaków specjalnych</li>
                          <li translate>Hasło wymaga minimum 10 znaków</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Powtórz hasło</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <input [(ngModel)]="user.passwordConfirm"
                            type="password" name="passwordConfirm" placeholder="{{'Wprowadź' | translate}}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab> -->

        <!-- role i uprawnienia -->
        <mat-tab label="{{'Role i uprawnienia' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span  translate>Role i uprawnienia</span>
                <div class="sub header" translate>Przeglądanie przydzielonych ról oraz uprawnień opcjonalnych do konta użytkownika w aplikacji.</div>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment" style="margin: 0;">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">
                  <div class="row">
                    <div class="six wide column">
                      <i class="small key icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Role w aplikacji</span>
                    </div>
                    <div class="ten wide column">
                      <div class="required field">
                        <div class="ui fluid multiple search normal selection dropdown dropdown-roles">
                          <input type="hidden" name="roles">
                          <i class="dropdown icon"></i>
                          <div class="default text" translate>Wybierz rolę</div>
                          <div class="menu">
                            <ng-container *ngFor="let role of roles">
                              <div class="item" [attr.data-value]="role.value">
                                <i class="key icon"></i>
                                <span class="right floated pad-right-xs">[{{role?.application.name}}]</span>
                                <span>{{role.name}}</span>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Hasło wymaga wprowadzenia znaków specjalnych</li>
                          <li translate>Hasło wymaga minimum 10 znaków</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small key icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Uprawnienia w aplikacji</span>
                    </div>
                    <div class="ten wide column">
                      <div class="field">
                        <div class="ui fluid multiple search normal selection dropdown dropdown-claims">
                          <input type="hidden" name="claims">
                          <i class="dropdown icon"></i>
                          <div class="default text" translate>Wybierz uprawnienie</div>
                          <div class="menu">
                            <ng-container *ngFor="let claim of claims">
                              <div class="item" [attr.data-value]="claim.value">
                                <i class="key icon"></i>
                                <span class="right floated pad-right-xs">[{{claim?.application.name}}]</span>
                                <span>{{claim.name}}</span>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </div>

                      <div class="ui message">
                        <ul class="list mat-small">
                          <li translate>Hasło wymaga wprowadzenia znaków specjalnych</li>
                          <li translate>Hasło wymaga minimum 10 znaków</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="size-height-12"></div>
              </div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab>

        <!-- historia operacji  -->
        <mat-tab label="{{'Historia operacji' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span translate>Historia operacji</span>
                <div class="sub header" translate>Przeglądanie historii wykonywanych operacji przez użytkownika na koncie.</div>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">

                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab>

        <!-- zgody i oświadczenia -->
        <mat-tab label="{{'Zgody i oświadczenia' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span translate>Zgody i oświadczenia</span>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">
                  <div class="row">
                    <div class="twelve wide column">
                      <i class="small handshake outline icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Zgoda na marketing drogą elektroniczną.</span>
                    </div>
                    <div class="right aligned four wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-1">
                          <input type="checkbox" name="account-1">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="twelve wide column">
                      <i class="small handshake outline icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Zgoda na marketing drogą telefoniczną.</span>
                    </div>
                    <div class="right aligned four wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-2">
                          <input type="checkbox" name="account-2">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="twelve wide column">
                      <i class="small handshake outline icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Otrzymywanie profilowanych informacji marketingowych.</span>
                    </div>
                    <div class="right aligned four wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-3">
                          <input type="checkbox" name="account-3">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab>

        <!-- ograniczenia dostępu -->
        <mat-tab label="{{'Ograniczenia dostępu' | translate}}">
          <div class="ui basic segment bgc-grey-50">
            <h3 id="step-account" class="ui header">
              <div class="content">
                <span translate>Ograniczenia dostępu do konta</span>
              </div>
            </h3>

            <div class="size-height-6"></div>
          </div>

          <div class="ui basic segment">
            <div class="ui grid">
              <div class="ten wide column">
                <div class="ui column middle aligned grid">
                  <div class="row">
                    <div class="six wide column">
                      <i class="small at icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Potwierdzony e-mail</span>
                    </div>
                    <div class="right aligned ten wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-email-confirmed">
                          <input type="checkbox" name="account-email-confirmed">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small user icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Konto zablokowane</span>
                    </div>
                    <div class="right aligned ten wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-blocked">
                          <input type="checkbox" name="account-blocked">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small user icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Konto aktywne</span>
                    </div>
                    <div class="right aligned ten wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-active">
                          <input type="checkbox" name="account-active">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
                  <div class="row">
                    <div class="six wide column">
                      <i class="small user clock icon" style="line-height: .9; font-size: 1em;"></i>
                      <span class="pad-xs"></span>
                      <span class="tc-grey-600" translate>Dostęp czasowy</span>
                    </div>
                    <div class="right aligned ten wide column">
                      <div class="field">
                        <div class="ui toggle checkbox checkbox-account-access">
                          <input type="checkbox" name="account-access">
                        </div>
                      </div>

                      <!-- <div class="field">
                        <div id="rangestart" class="ui calendar calendar-access-lowerbound">
                          <div class="ui small input left icon" style="width: 148px;">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="{{'Dostęp od' | translate}}">
                          </div>
                        </div>
                      </div>
                      <div class="field">
                        <div id="rangeend" class="ui calendar calendar-access-upperbound">
                          <div class="ui small input left icon" style="width: 148px;">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="{{'Dostęp do' | translate}}">
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="size-height-12"></div>
            </div>
          </div>

          <div class="ui divider" style="border-width: .2em;"></div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>

</app-details-template>

<!-- ustaw hasło konta -->
<div class="ui tiny modal modal-account-set-password">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-password">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="unlock alternate icon"></i>
          <div class="content">
            <span translate>Ustaw hasło</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>ustawienie hasła do konta '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

        <p class="ui text" translate>Wymuszenie zmiany hasła dostępu do konta użytkownika '{{user.userName}}'. Czy potwierdzasz wykonanie operacji zmiany hasła dostępu do konta?</p>

        <div class="size-height-12"></div>

        <div class="ui column middle aligned grid">
          <div class="row">
            <div class="six wide column">
              <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
              <span class="pad-xs"></span>
              <span class="tc-grey-600">{{'Hasło' | translate}}</span>
            </div>
            <div class="ten wide column">
              <div class="required field">
                <input [(ngModel)]="user.passwordNew"
                    type="password" name="passwordNew" placeholder="{{'Wprowadź' | translate}}">
              </div>

              <div class="ui message">
                <ul class="list mat-small">
                  <li>{{'Hasło wymaga wprowadzenia znaków specjalnych' | translate}}</li>
                  <li>{{'Hasło wymaga minimum 10 znaków' | translate}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ui divider" style="margin: 0; border-width: .1em;"></div>
          <div class="row">
            <div class="six wide column">
              <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
              <span class="pad-xs"></span>
              <span class="tc-grey-600">{{'Powtórz hasło' | translate}}</span>
            </div>
            <div class="ten wide column">
              <div class="required field">
                <input [(ngModel)]="user.passwordConfirm"
                    type="password" name="passwordConfirm" placeholder="{{'Wprowadź' | translate}}">
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- resetuj hasło do konta -->
<div class="ui tiny modal modal-account-reset-password">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-password">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="refresh icon"></i>
          <div class="content">
            <span translate>Resetuj hasło</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>resetowanie hasła do konta '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- wyślij wiadomość z aktywacją konta -->
<div class="ui tiny modal modal-account-send-activate">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-activate">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="at icon"></i>
          <div class="content">
            <span translate>Wyślij link aktywacyjny</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>wysłanie wiadomości do '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- aktywuj konto -->
<div class="ui tiny modal modal-account-set-activate">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-activate">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="unlock icon"></i>
          <div class="content">
            <span translate>Aktywuj konto</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>aktywacja konta '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

        <p class="ui text" translate>Czy na pewno potwierdzasz aktywowanie konta użytkownika '{{user.userName}}' w systemie?</p>

        <div class="size-height-12"></div>

      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- zablokuj konto -->
<div class="ui tiny modal modal-account-set-block">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-block">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="lock icon"></i>
          <div class="content">
            <span translate>Zablokuj konto</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>zablokowanie konta '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

        <p class="ui text" translate>Czy na pewno potwierdzasz zablokowanie konta użytkownika '{{user.userName}}' w systemie?</p>

        <div class="size-height-12"></div>

        <div class="ui column middle aligned grid">
          <div class="row">
            <div class="six wide column">
              <span class="tc-grey-600" translate>Przyczyna zablokowania</span>
            </div>
            <div class="ten wide column">
              <div class="required field">
                <div class="ui fluid multiple search normal selection dropdown dropdown-causes-block">
                  <input type="hidden" name="causes-block">
                  <i class="dropdown icon"></i>
                  <div class="default text" translate>Wprowadź przyczynę</div>
                  <div class="menu">
                    <ng-container *ngFor="let cause of causes">
                      <div class="item" [attr.data-value]="cause.value">
                        <span>{{cause.name}}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- usuń konto -->
<div class="ui tiny modal modal-account-delete">
  <i class="close icon"></i>
  <div class="content">
    <form class="ui medium form form-account-delete">
      <div class="ui basic">
        <h2 class="ui header">
          <i class="trash alternate outline red icon"></i>
          <div class="content">
            <span translate>Usuń konto</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>usuwanie konta '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

        <p class="ui text" translate>Czy na pewno potwierdzasz usunięcie konta użytkownika '{{user.userName}}' z systemu? Po potwierdzeniu operacji usunięcia konta nie będzie możliwości jego ponownego przywrócenia.</p>

        <div class="size-height-12"></div>

        <div class="ui column middle aligned grid">
          <div class="row">
            <div class="six wide column">
              <span class="tc-grey-600" translate>Przyczyna usunięcia</span>
            </div>
            <div class="ten wide column">
              <div class="required field">
                <div class="ui fluid multiple search normal selection dropdown dropdown-causes-block">
                  <input type="hidden" name="causes-block">
                  <i class="dropdown icon"></i>
                  <div class="default text" translate>Wprowadź przyczynę</div>
                  <div class="menu">
                    <ng-container *ngFor="let cause of causes">
                      <div class="item" [attr.data-value]="cause.value">
                        <span>{{cause.name}}</span>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui cancel button">
      <span translate>Anuluj</span>
    </button>

    <button class="ui red approve button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Potwierdź</span>
    </button>
  </div>
</div>

<!-- wiadomość do użytkownika -->
<div class="ui tiny modal modal-account-send-message">
  <i class="close icon"></i>
  <div class="scrolling content">
    <form class="ui medium form form-account-message">
      <div class="ui basic">
        <h2 class="ui header">
          <div class="content">
            <span translate>Wiadomość</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>wyślij do użytkownika '{{user.userName}}'</span>
            </div>
          </div>
        </h2>

        <div class="size-height-12"></div>

        <div class="ui column middle aligned grid">
          <div class="row">
            <div class="sixteen wide column">
              <div class="required field">
                <div class="ui fluid input">
                  <textarea rows="6" maxlength="255" placeholder="Treść wiadomości"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="actions">
    <button class="ui approve primary button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
      <span translate>Wyślij</span>
    </button>
  </div>
</div>
