<app-login-content2>
  <div button class="ui basic">
    <div class="ui tertiary button" [routerLink]="['/login']">
      <span translate>common.buttons.sign_in</span>
    </div>
  </div>

  <div content class="ui basic">
    <form class="ui medium form form-password">
      <div class="ui basic">
        <h1 class="ui header">
          <div class="content">
            <span translate>password.confirm.confirm_title</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>password.confirm.confirm_desc</span>
            </div>
          </div>
        </h1>

        <div class="size-height-12"></div>

        <div class="field">
          <label translate>password.confirm.form.new_password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="newPassword" [(ngModel)]="newPassword" placeholder="{{'Nowe hasło' | translate}}" type="password">
          </div>
        </div>
        <div class="field">
          <label translate>password.confirm.form.repeat_password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="{{'Powtórz hasło' | translate}}" type="password">
          </div>
        </div>

        <div *ngIf="error" class="ui basic segment" style="padding: 1em 0 0;">
          <div class="ui icon negative message">
            <div class="content">    
              <p *ngIf="error.message" translate>{{error.message}}</p>
              <ul *ngIf="error.errors" class="list">
                <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
                  <li translate>{{error.message}}</li>
                </ng-template>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="success" class="ui basic segment" style="padding: 1em 0 0;">
          <div class="ui icon positive message">
            <div class="content">    
              <p *ngIf="success.message" translate>{{success.message}}</p>
            </div>
          </div>
        </div>

        <div class="ui error message"
          style="border-radius: 0;
            box-shadow: -7.5px 0px 0px 0px rgba(239,154,154,.2);
            background: rgba(255,235,238,.25);"></div>

        <div class="size-height-12"></div>

        <button class="ui fluid primary button" (click)="confirmPassword()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
          <span translate>password.confirm.form.confirm</span>
        </button>
      </div>

      <div class="size-height-12"></div>
    </form>
  </div>
</app-login-content2>
