<div class="ui stackable grid">
  <div class="six wide column stepper-header" style="padding-left: 0; padding-right: 4em;">

    <div class="ui basic segment" style="position: sticky; top: 12.75em;">
      <ng-content select="[steps-content]"></ng-content>

      <div class="ui fluid vertical steps">
        <ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
          <div class="step" [ngClass]="{'active': selectedIndex === i}">
            <div class="content">
              <div class="title">{{step.label | translate}}</div>
              <div class="description">{{step.description | translate}}</div>
            </div>
          </div>
        </ng-template>
      </div>
      <div class="ui divider stepper-divider"></div>
    </div>
  </div>

  <div class="ten wide column stepper-content">

    <div *ngIf="error" class="ui basic segment" style="padding: 1em 0 0;">
      <div class="ui icon negative message">
        <i class="exclamation circle icon"></i>
        <div class="content">
          <div class="header">
            <span translate>Walidacja formularza</span>
          </div>

          <p *ngIf="error.message">{{error.message}}</p>

          <ul *ngIf="error.errors" class="list">
            <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
              <li>{{error.message | translate}}</li>
            </ng-template>
          </ul>
        </div>
      </div>
    </div>

    <div class="size-height-12"></div>

    <div [style.display]="selected ? 'block' : 'none'">
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
    <!-- <ng-template ngFor let-step let-last="last" let-i="index" [ngForOf]="stepsList">
      <div [style.display]="selectedIndex === i ? 'block' : 'none'">
        <ng-container [ngTemplateOutlet]="step.content"></ng-container>
      </div>
    </ng-template> -->
  </div>
</div>
