.ui.vertical.steps {
  z-index: 1;
  box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
}
.ui.vertical.steps .step {
  margin: 0;
  border: none !important;
  border-radius:  0 !important;
}
.ui.vertical.steps .step:hover, .ui.vertical.steps>.step:hover {
  background-color: rgba(236,239,241,.5) !important;
}
.ui.vertical.steps .step.active, .ui.vertical.steps>.step.active {
  z-index: 3;
  box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  background-color: white !important;
}
.ui.vertical.steps .step.active:last-child, .ui.vertical.steps>.step.active:last-child {
  z-index: 3;
  box-shadow: -25px 0 25px -5px rgba(0,0,0,.1);
  background-color: white !important;
}
.ui.vertical.steps .step:last-child, .ui.vertical.steps>.step:last-child {
  box-shadow: 0 10px 25px 10px white;
}
.ui.steps .step:after {
  display: none;
}
.ui.steps .step.active:after {
  display: none;
}

@media screen and (max-width: 960px) and (min-width: 768px) {
}
@media only screen and (max-width: 768px) {
  .stepper-header {
    display: none !important;
  }
}