<app-login-content>
  <div button class="ui basic">
    <div class="ui tertiary button" [routerLink]="['/login']">
      <span translate>common.buttons.sign_in</span>
    </div>
  </div>

  <div content class="ui basic">
    <form class="ui medium form form-register">
      <div class="ui basic">
        <h1 class="ui header">
          <div class="content">
            <span translate>register.register_title</span>
            <div class="sub header">
              <span class="pad-left-xs" translate>register.register_desc</span>
            </div>
          </div>
        </h1>

        <div class="size-height-12"></div>

        <div class="field">
          <label translate>register.form.userName</label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="userName" [(ngModel)]="userName" placeholder="{{'Nazwa konta' | translate}}" type="text">
          </div>
        </div>
        <div class="field">
          <label translate>register.form.email</label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="email" [(ngModel)]="email" placeholder="{{'Adres e-mail' | translate}}" type="text">
          </div>
        </div>
        <div class="field">
          <label translate>register.form.firstName</label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="firstName" [(ngModel)]="firstName" placeholder="{{'Imię (imiona)' | translate}}" type="text">
          </div>
        </div>
        <div class="field">
          <label translate>register.form.lastName</label>
          <div class="ui left icon input">
            <i class="at icon"></i>
            <input name="lastName" [(ngModel)]="lastName" placeholder="{{'Nazwisko' | translate}}" type="text">
          </div>
        </div>
        <div class="field">
          <label translate>register.form.newPassword</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="newPassword" [(ngModel)]="newPassword" placeholder="{{'Nowe hasło' | translate}}" type="password">
          </div>
        </div>
        <div class="field">
          <label translate>register.form.repeat_password</label>
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input name="repeatPassword" [(ngModel)]="repeatPassword" placeholder="{{'Powtórz hasło' | translate}}" type="password">
          </div>
        </div>

        <div class="size-height-6"></div>

        <div class="field">
          <div class="ui toggle checkbox checkbox-agree">
            <input type="checkbox" name="agree">
            <label translate>register.form.accept_app_rules</label>
          </div>
        </div>

        <div *ngIf="error" class="ui basic segment" style="padding: 1em 0 0;">
          <div class="ui icon negative message">
            <div class="content">    
              <p *ngIf="error.message" translate>{{error.message}}</p>
              <ul *ngIf="error.errors" class="list">
                <ng-template ngFor let-error let-last="last" [ngForOf]="error.errors">
                  <li translate>{{error.message}}</li>
                </ng-template>
              </ul>
            </div>
          </div>
        </div>

        <div class="ui error message"
          style="border-radius: 0;
            box-shadow: -7.5px 0px 0px 0px rgba(239,154,154,.2);
            background: rgba(255,235,238,.25);"></div>

        <div class="size-height-12"></div>

        <button class="ui fluid primary button" (click)="register()" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
          <span translate>register.form.create_an_account</span>
        </button>
      </div>
    </form>
  </div>

  <div hint class="ui basic">
    <span class="ui medium text">
      <span translate>
        register.have_an_account_in_app <a [routerLink]="['/login']">
          <span translate>register.sign_in</span></a>.
      </span>
    </span>
  </div>
</app-login-content>