<div #profile class="masthead-profile">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment">
          <div class="ui centered grid">
            <div class="fourteen wide column">
              <div layout="row" layout-align="start start" style="padding-bottom: 1em;">
                <h3 class="ui header">

                </h3>

                <div class="size-width-50"></div>

                <div layout="row" layout-align="end end" flex>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0;"></div>
</div>

<div class="masthead-filters">
  <div class="ui column centered grid">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <div class="ui column grid">
            <div class="right aligned column">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <mat-tab-group animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
              <!-- szczegóły grupy -->
              <mat-tab label="{{'Szczegóły grupy' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span translate>Szczegóły grupy</span>
                      <div class="sub header" translate></div>
                    </div>
                  </h3>

                  <div class="size-height-6"></div>
                </div>

                <div class="ui basic segment" style="margin: 0;">
                  <div class="ui grid">
                    <div class="ten wide column">
                      <div class="ui column middle aligned grid">

                      </div>
                    </div>

                    <div class="size-height-12"></div>
                  </div>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
