<div class="masthead-header">
  <div class="masthead-group">
    <div class="ui two column grid">
      <div class="left aligned six wide column">
        <div class="ui large secondary menu">
          <div class="item">
            <div class="ui logo shape">
            <div class="sides">
              <div class="ui active side">
                <h2 class="ui header">
                  <span class="{{headerConfig?.icon?.name}} {{headerConfig?.icon?.color}} icon"></span>
                  <div class="content">
                    <span>{{headerConfig?.title | translate}}</span>
                    <div class="sub header">{{headerConfig?.meta | translate}}</div>

                    <div class="header-line"></div>
                  </div>
                </h2>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right aligned ten wide column">

      </div>
    </div>
  </div>
  <div class="ui divider" style="border-width: .2em; margin: 0; border-bottom: 1px solid transparent;"></div>
</div>

<div class="masthead-filters">
  <div class="ui column centered grid">
    <div class="column row" style="padding-bottom: 0;">
      <div class="left aligned sixteen wide column">
        <div class="ui basic segment" style="padding-bottom: 0;">
          <div class="ui column grid">
            <div class="left aligned eight wide column">
              <button class="ui circular button"
                (click)="onBackForm()"
                matTooltip="{{'Wróć do poprzedniej strony' | translate}}"
                [matTooltipPosition]="'after'">

                <i class="undo icon"></i>
                <span translate>Wróć</span>
              </button>
            </div>
            <div class="right aligned eight wide column">
              <button *ngIf="stepper.selectedIndex > 0"
                type="button" class="ui circular button"
                (click)="onPreviousStep(stepper)">

                <i class="arrow left icon"></i>
                <span translate>Cofnij</span>
              </button>
              <button *ngIf="stepper.selectedIndex < (steps.length - 1)"
                type="button" class="ui circular button"
                style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);"
                (click)="onNextStep(stepper)">

                <span translate>Przejdź dalej</span>
                <i class="arrow right icon"></i>
              </button>
              <button *ngIf="stepper.selectedIndex === (steps.length - 1)"
                type="button" class="ui circular primary button"
                style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.1);"
                (click)="onSaveForm(stepper)">

                <i class="check icon"></i>
                <span translate>Zatwierdź</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">

          <form class="ui form form-{{headerConfig.symbol}}">
          <app-stepper-custom #stepper
            [steps]="steps"
            [error]="error"
            [selectedIndex]="selectedIndexStep"
            (selectionChange)="onChangeStep($event)">
            <ng-template ngFor let-step let-last="last" [ngForOf]="steps">
              <cdk-step>
                <div class="ui width grid">
                  <div class="sixteen wide column">
                    <ng-template ngFor let-segment let-last="last" [ngForOf]="step.segments">
                    <div class="ui basic segment segment-header" style="margin-bottom: 0;">
                      <h3 id="step-account" class="ui header">
                        <div class="content">
                          <span translate>{{segment.header}}</span>
                          <div class="sub header" translate>{{segment.description}}</div>
                        </div>
                      </h3>
                      <div class="size-height-12"></div>
                    </div>

                    <div class="ui error bottom attached message"
                      style="border-radius: 0;
                        box-shadow: -7.5px 0px 0px 0px rgba(239,154,154,.2);
                        background: rgba(255,235,238,.25);"></div>

                    <div class="ui basic segment" style="margin: 0;">
                        <ng-template ngFor let-field let-last="last" [ngForOf]="segment.fields">
                          <ng-container [ngSwitch]="field.type">
                            <!-- Text -->
                            <div *ngSwitchCase="formFieldType.Text" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="ui input">
                                      <input [name]="field.name" (change)="field.onChange(field)"
                                        type="text"
                                        placeholder="{{'Wprowadź' | translate}}">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Password -->
                            <div *ngSwitchCase="formFieldType.Password" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="ui input">
                                      <input [name]="field.name" (change)="field.onChange(field)"
                                        type="password"
                                        placeholder="{{'Wprowadź' | translate}}">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Email -->
                            <div *ngSwitchCase="formFieldType.Email" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="ui input">
                                      <input [name]="field.name" (change)="field.onChange(field)"
                                        type="email"
                                        placeholder="{{'Wprowadź' | translate}}">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Number -->
                            <div *ngSwitchCase="formFieldType.Number" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="ui input">
                                      <input [name]="field.name" (change)="field.onChange(field)"
                                        type="number"
                                        placeholder="{{'Wprowadź' | translate}}">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Phone Number -->
                            <div *ngSwitchCase="formFieldType.PhoneNumber" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div class="ui input">
                                      <input [name]="field.name" (change)="field.onChange(field)"
                                        type="number"
                                        placeholder="{{'Wprowadź' | translate}}">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Dropdown Single -->
                            <div *ngSwitchCase="formFieldType.Single" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="six wide column">
                                  <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                  <span class="pad-xs"></span>
                                  <label class="tc-grey-600" translate>{{field.label}}</label>
                                </div>
                                <div class="ten wide column">
                                  <div class="ui fluid search selection dropdown dropdown-{{field.symbol}}">
                                    <input type="hidden" [name]="field.name">
                                    <i class="dropdown icon"></i>
                                    <div class="default text" translate>{{field.label}}</div>
                                    <div class="menu"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Dropdown Multi -->
                            <div *ngSwitchCase="formFieldType.Multi" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="six wide column">
                                  <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                  <span class="pad-xs"></span>
                                  <label class="tc-grey-600" translate>{{field.label}}</label>
                                </div>
                                <div class="ten wide column">
                                  <div class="ui fluid multiple search normal selection dropdown dropdown-{{field.symbol}}">
                                    <input type="hidden" [name]="field.name">
                                    <i class="dropdown icon"></i>
                                    <div class="default text" translate>{{field.label}}</div>
                                    <div class="menu"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Dropdown Single Search -->
                            <div *ngSwitchCase="formFieldType.Single && formFieldType.Search" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="six wide column">
                                  <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                  <span class="pad-xs"></span>
                                  <label class="tc-grey-600" translate>{{field.label}}</label>
                                </div>
                                <div class="ten wide column">
                                  <div class="ui fluid search normal selection dropdown dropdown-{{field.symbol}}">
                                    <input type="hidden" [name]="field.name">
                                    <i class="dropdown icon"></i>
                                    <div class="text" translate>{{field.label}}</div>
                                    <div class="menu"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Checkbox -->
                            <div *ngSwitchCase="formFieldType.Checkbox" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="right aligned ten wide column">
                                    <div class="ui toggle checkbox checkbox-{{field.symbol}}">
                                      <input type="checkbox" [name]="field.name">
                                    </div>
                                    <div *ngIf="field.hints" class="ui message">
                                      <ul class="list mat-small">
                                        <ng-template ngFor let-hint let-last="last" [ngForOf]="field.hints">
                                          <li translate>{{hint}}</li>
                                        </ng-template>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Checkbox 2 -->
                            <div *ngSwitchCase="formFieldType.Checkbox2" class="field">
                              <div class="ui column middle aligned grid">
                                <div class="sixteen wide row">
                                  <div class="six wide column">
                                    <i class="small hashtag icon" style="line-height: .9; font-size: 1em;"></i>
                                    <span class="pad-xs"></span>
                                    <label class="tc-grey-600" translate>{{field.label}}</label>
                                  </div>
                                  <div class="ten wide column">
                                    <div layout="row" layout-align="start center" flex>
                                      <ng-template ngFor let-item let-last="last" [ngForOf]="field.items">
                                        <div class="ui button button-checkbox checkbox checkbox-{{item.symbol}}">
                                          <input type="checkbox" [name]="item.name">
                                          <label style="display: contents;">
                                            <div layout="column" layout-align="end center">
                                              <i class="user outline icon"></i>
                                              <span translate>{{item.label}}</span>
                                            </div>
                                          </label>
                                        </div>
                                      </ng-template>
                                    </div>

                                    <div class="ui message">
                                      <p class="mat-caption" translate>{{field.hints[0]}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                          <div *ngIf="!last" class="ui divider" style="border-width: .1em;"></div>
                        </ng-template>

                      <div class="size-height-12"></div>
                    </div>
                    </ng-template>

                    <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
                  </div>
                </div>
              </cdk-step>
            </ng-template>
          </app-stepper-custom>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
