<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">

        </div>
      </div>
    </div>
  </div>
</div>
