<div class="widgets" [ngSwitch]="widget.settings.type">
    <app-widget-history *ngSwitchCase="widgetType.History" [widget]="widget"></app-widget-history>
    <app-widget-holidays *ngSwitchCase="widgetType.Holidays" [widget]="widget"></app-widget-holidays>
    <app-widget-plan *ngSwitchCase="widgetType.Plan" [widget]="widget"></app-widget-plan>
    <app-widget-shortcut *ngSwitchCase="widgetType.Shortcut" [widget]="widget"></app-widget-shortcut>
    <app-widget-quotation *ngSwitchCase="widgetType.Quotation" [widget]="widget"></app-widget-quotation>

    <app-widget-blank *ngSwitchDefault [widget]="widget"></app-widget-blank>
</div>