
<div class="ui grid">
  <div class="six wide column">
    <div class="ui accordion selection short list table-short-list">
      <ng-template #lists ngFor let-row let-last="last" [ngForOf]="data">
        <div class="item" [class.selected]="isSelected(row)" (click)="onSelected(row)" style="padding: 0;">
          <div class="title" style="padding: 0;">
            <div class="item" style="margin: 0; padding: 1.5em 2em;">
              <div class="content">
                <div class="ui two column grid">
                  <div class="two wide column">
                    <ngx-avatar name="{{row?.fullName}}" size="48"></ngx-avatar>
                  </div>
                  <div class="middle aligned fourteen wide column">
                    <div class="content pad-left-md">
                      <div class="ui sub header" style="font-size: 1.1em;">{{row.fullName}}</div>
                      <div class="size-height-6"></div>
                      <div class="meta">
                        <span>{{row.email}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="ten wide column">
    <div class="segment-row">
      <div class="ui basic segment segment-header" style="margin-bottom: 0;" layout="row" layout-align="start start">
        <div layout="column" layout-align="start start" flex>
          <div class="ui items">
            <div class="item">
              <ngx-avatar class="ui image" name="{{currentItem?.fullName ? currentItem?.fullName : currentItem?.userName}}" size="64"></ngx-avatar>
              <div class="content">
                <span class="header">{{currentItem?.fullName ? currentItem?.fullName : currentItem?.userName}}</span>
                <div class="meta">
                  <i class="user icon"></i>
                  <span translate>Konto lokalne</span>
                </div>
                <div class="extra">
    
                </div>
                <div class="extra">
                  <div class="ui label"><i class="at icon"></i> {{currentItem?.email}}</div>
                  <div *ngIf="currentItem?.phoneNumber" class="ui label"><i class="phone icon"></i> {{currentItem?.phoneNumber}}</div>
                  <div class="ui label"><i class="circle green icon"></i> {{'online' | translate}}</div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="size-height-12"></div>
        </div>
    
        <div layout="column" layout-align="start end" flex="25">
          <div layout="row">
            <button class="ui circular button"
              [routerLink]="['/management/users', currentItem?.id]"
              matTooltip="{{'Szczegóły konta' | translate}}" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);">
    
              <i class="pencil icon"></i>
              <span translate>Szczególy</span>
            </button>
          </div>
        </div>
      </div>
    
      <div class="ui basic segment segment-subheader" style="margin-top: 0;">
        <h3 id="step-account" class="ui header">
          <div class="content">
            <span translate>Role i uprawnienia</span>
            <div class="sub header" translate>Przypisane roli i opcjonalne uprawnienia do konta.</div>
          </div>
        </h3>
      </div>
    
      <div class="ui basic segment segment-content">
        <div class="ui divided items">
          <ng-template ngFor let-role let-last="last" [ngForOf]="currentItem?.roles">
            <div class="item">
              <div class="content" style="padding: 1em;">
                <h4 class="ui header">
                  <span class="ui horizontal primary label">
                    {{role?.application.name}}
                  </span>
                  <span class="ui text">{{role.name}}</span>
                </h4>
                <div class="description" style="padding: .5em 0;">
                  <div class="ui list">
                    <div class="item">
                      <div class="ui small labels">
                        <ng-template ngFor let-permission let-last="last" [ngForOf]="role.permissions">
                          <div class="ui label">
                            {{permission.name}}
                          </div>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
    
      <div class="size-height-24"></div>
    
      <div class="ui basic segment segment-subheader">
        <h3 id="step-account" class="ui header">
          <div class="content">
            <span translate>Historia operacji</span>
            <div class="sub header" translate>Podgląd historii operacji wykonywanych przez użytkownika.</div>
          </div>
        </h3>
      </div>
    
      <div class="ui basic segment segment-content">
    
        <div class="size-height-24"></div>
      </div>
    
      <div class="ui divider" style="margin: 0; border-width: .2em;"></div>
    </div>
  </div>
</div>