<!-- wyświetlanie listy wyników -->
<div class="ui grid">
  <div class="column">

    <!-- obszar filtrów -->
    <ng-content select="[filters-content]"></ng-content>

    <!-- obszar wyświetlania listy wyników -->
    <ng-content *ngIf="data?.length" select="[list-content]"></ng-content>

    <div class="size-height-50"></div>
  </div>
</div>

<!-- obszar stronicowania -->
<div class="ui center aligned grid"
  style="position: fixed;
  bottom: 0;
  width: calc(100% - 280px);
  height: 60px;
  padding: .25em 0;
  margin: 0;
  background: white;
  box-shadow: 0 -5px 20px -5px rgba(34,36,38,.1);
  border-top: .2em solid rgba(34,36,38,.1);">

  <div class="row" style="padding: 0; margin: 0;">
    <td-paging-bar *ngIf="visiblePaging"
      #pagingBar
      [initialPage]="initialPage"
      [pageSizes]="pageSizes"
      [pageLinkCount]="5"
      [pageSize]="pageSize"
      [total]="total"
      (change)="onPage($event)">

      <div>
        <div class="ui floating dropdown labeled icon tiny basic button dropdown-pagesize">
          <i class="table icon"></i>
          <div class="text">Rozmiar</div>
          <div class="menu">
            <ng-container *ngFor="let pageSize of pageSizes">
              <div class="item" [attr.data-value]="pageSize">
                <span>{{pageSize}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div>
        <span>{{pagingBar.range}} z {{pagingBar.total}}</span>
      </div>

      <div class="ui input">
        <input #goToPage matInput type="number"
          [min]="1" [max]="pagingBar.maxPage" [value]="pagingBar.page"
          (blur)="goToPage.value = pagingBar.page"
          (change)="pagingBar.navigateToPage(goToPage.value); goToPage.value = pagingBar.page"
          (keyup.enter)="pagingBar.navigateToPage(goToPage.value); goToPage.value = pagingBar.page" />
      </div>
    </td-paging-bar>
  </div>
</div>
