<div class="ui basic segment table-header">
  <div class="item" style="padding: .4em 0;">
    <div class="content">
      <div class="ui left aligned four column grid">
        <div class="middle aligned one wide column"></div>
        <div class="middle aligned six wide column">
          <span style="font-weight: bold;">{{'Grupa' | translate}}</span>
        </div>
        <div class="middle aligned five wide column">
          <span style="font-weight: bold;">{{'Kod' | translate}}</span>
        </div>
        <div class="right aligned four wide column"></div>
      </div>
    </div>
  </div>
</div>

<div class="ui divider table-divider" style="margin-bottom: 1rem;"></div>

<div class="ui accordion selection list table-list">
  <ng-template #resourcesList ngFor let-row let-last="last" [ngForOf]="data">
    <div class="item" [class.selected]="isSelected(row)" (click)="onSelected(row)" style="padding: 0;">
      <div class="title">
        <div class="item" style="margin: 0; padding: 1em 2em;">
          <div class="content">
            <div class="ui five column grid">

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="!last" style="padding: .3em 0;"></div> -->
  </ng-template>
</div>