<app-table-template #table
  [config]="config"
  [data]="data"
  [currentItem]="currentItem"
  [pagingResults]="pagingResults"
  (acceptFilter)="onAcceptFilter($event)"
  (clearFilter)="onClearFilter($event)"
  (removeFilter)="onRemoveFilter($event)"
  (refreshData)="onRefreshData($event)">

  <!-- header -->
  <div table-header-content>
    <button class="ui circular primary button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);"
      [routerLink]="['/management/permissions/role/form']">

      <i class="add icon"></i>
      <span translate>Utwórz rolę</span>
    </button>
    <button class="ui circular primary button" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1);"
      [routerLink]="['/management/permissions/claim/form']">

      <i class="add icon"></i>
      <span translate>Utwórz uprawnienie</span>
    </button>
  </div>

  <!-- filtry -->
  <app-permissions-filters table-filters-content [(filters)]="table.filters"></app-permissions-filters>

  <!-- widok tabeli -->
  <app-permission-table table-content [data]="data" [currentItem]="currentItem"></app-permission-table>

  <!-- widok listy -->
  <app-permission-list list-content [data]="data" [currentItem]="currentItem"></app-permission-list>
</app-table-template>