<div class="masthead-header">
  <div class="ui two column grid">
    <div class="left aligned four wide column">

      <div class="ui large secondary menu">
        <a *ngIf="false" class="ui label view-ui item" (click)="back()" href="javascript:void(null);"
          matTooltip="{{'Powrót na poprzednią stronę' | translate}}" matTooltipPosition="after">

          <i class="undo icon"></i><span translate>Wróć</span>
        </a>

        <!-- <a #button class="view-ui item"
          (click)="sidenav()"
          matTooltip="{{'Menu aplikacji' | translate}}" matTooltipPosition="after">

          <i class="sidebar icon"></i>
          <span translate>Menu</span>
        </a> -->

        <div class="item">
          <div class="ui logo shape">
          <div class="sides">
            <div class="ui active side">
              <!-- <h3 class="ui header" style="margin-top: -1.25em;">
                <img src="../../../../assets/images/workteam4.png"
                  style="border-radius: 50%; border: .1em solid white; box-shadow: 0 0 20px 5px rgba(34,36,38,.25);">

                <div class="content">
                  <span translate>common.title</span>
                  <div class="sub header">
                    <span translate>common.title_desc</span>
                  </div>
                </div>
              </h3> -->
              <h2 class="ui header">
                <span class="{{headerConfig?.icon?.name}} {{headerConfig?.icon?.color}} icon"></span>
                <div class="content">
                  <span>{{headerConfig?.title | translate}}</span>
                  <div class="sub header">{{headerConfig?.meta | translate}}</div>

                  <div class="header-line"></div>
                </div>
              </h2>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right aligned twelve wide column">
      <div *ngIf="true; else elseBlock">
        <div class="ui icon top right pointing floating dropdown circular button languages" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <i class="world icon" style="margin-right: 0;"></i>
          <span class="text" style="margin-left: 1em; margin-right: 0;" translate>Domyślny</span>

          <div class="menu transition hidden menu-languages">
            <div class="header">
              <span translate>Wyszukaj</span>
            </div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="{{'Wyszukaj' | translate}}">
            </div>

            <div class="scrolling menu">
              <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
                <div class="item" [attr.data-value]="language.code">
                  <i class="{{language.flag}} flag"></i>
                  <span class="description" translate>{{language.desc}}</span>
                  <span class="name">{{language.name}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class="ui icon top right pointing dropdown circular button themes" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <i class="theme icon"></i>
          <span class="ui {{sidebarService.activeTheme}} theme-primary empty circular label" style="margin: 0 .5em 0 1em; vertical-align: top;"></span>
          <span class="text pad-left-sm pad-right-sm" translate>Styl aplikacji</span>

          <div class="menu transition hidden menu-themes">
            <div class="item" [attr.data-value]="'dark'">
              <div class="ui toggle checkbox checkbox-dark-theme">
                <input type="checkbox" name="darktheme" [(ngModel)]="sidebarService.isThemeDark">
                <label translate>Tryb ciemny (eksperyment)</label>
              </div>
            </div>

            <div class="scrolling menu">
              <ng-template ngFor let-theme let-last="last" [ngForOf]="sidebarService.getThemes">
                <div class="item" [attr.data-value]="theme">
                <div class="ui {{theme}} theme-primary empty circular label"></div>
                <span>{{theme}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <span class="pad-left-sm pad-right-sm"></span>

        <div class="ui icon top right pointing dropdown circular button notifications" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <i class="bell outline icon"></i>
          <div class="floating ui red circular label">22</div>
          <div class="menu">
            <div class="ui relaxed divided selection list">
              <ng-template ngFor let-notification let-i="index" let-last="last" [ngForOf]="notifications">
                <div class="item" style="padding: 1em;">
                  <i class="{{notification.icon}} middle aligned icon" style="vertical-align: middle; padding-right: unset;"></i>
                  <div class="content">
                    <a class="header">{{notification.name}}</a>
                    <div class="description">{{notification.date | date:'dd-MM-yyyy HH:mm'}}</div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <span class="pad-left-sm pad-right-sm"></span>

        <div class="ui icon top right pointing dropdown circular button settings" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1); z-index: 9;">
          <div layout="row" layout-align="start center">
            <ngx-avatar name="{{userLogged?.fullName}}" size="36"></ngx-avatar>
            <span class="text pad-left-sm pad-right-sm">{{userLogged?.fullName}}</span>
          </div>
          <div class="menu transition hidden menu-settings">
            <div class="scrolling menu">
              <div class="item" [routerLink]="['/account', 'profile', 'details']">
                <i class="settings icon"></i>
                <span translate>Moje konto</span>
              </div>
              <div class="item" [routerLink]="['/account', 'profile', 'security']">
                <i class="edit icon"></i>
                <span translate>Zmiana hasła</span>
              </div>
              <div class="divider"></div>
              <div class="item" (click)="contact()">
                <i class="bug icon"></i>
                <span translate>Zgłoś problem</span>
              </div>
              <div class="divider"></div>
              <div class="item" (click)="lockAccount()">
                <i class="user lock icon"></i>
                <span translate>Zablokuj</span>
              </div>
              <div class="item" (click)="logoutUser()">
                <i class="sign out alternate icon"></i>
                <span translate>Wyloguj</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #elseBlock>
				<button class="ui circular button"
          (click)="back()">

          <i class="undo icon"></i>
          <span translate>Powrót</span>
        </button>
      </ng-template>
    </div>
  </div>
</div>
