.masthead-header {
  padding: 1.5em 6em 0 6em;
}

.notifications, .settings, .bugs, .themes, .languages {
  background: transparent;
}
.notifications, .settings, .themes, .languages {
  &:hover {
    color: white !important;
  }
}
.settings {
  padding: 0 !important;
}
.bugs {
  &:hover {
    background-color: rgba(239,154,154,1) !important;
    color: white !important;
  }
}
.languages {
  span.text {
    span.name {
      display: none !important;
    }
    span.description {
      display: none !important;
    }
  }
}
.logo {
  z-index: 1090;
}

.ui.secondary.menu .item {
  align-self: end !important;
}
.hidden {
  position: fixed;
  left: 0 !important;
  margin-left: 0 !important;
}

@media screen and (min-width: 960px) {
  // .ui.secondary.menu a.item {
  //   position: fixed;
  //   top: 80px;
  //   left: 70px;
  //   border-bottom-left-radius: 0 !important;
  //   border-top-left-radius: 0 !important;

  //   span {
  //     display: none;
  //   }
  // }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .masthead-header {
    padding: 1.5em 4em 0 4em;
  }

  // .ui.secondary.menu a.item {
  //   position: fixed;
  //   top: 80px;
  //   left: 70px;
  //   border-bottom-left-radius: 0 !important;
  //   border-top-left-radius: 0 !important;

  //   span {
  //     display: none;
  //   }
  // }

  .bugs {
    span.text {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .masthead-header {
    padding: 1.5em 3em 0 3em;

    h3 {
      display: none !important;
    }
  }

  .settings, .bugs {
    span.text {
      display: none !important;
    }
  }
}
