<div class="masthead-content">
  <div class="ui column centered grid">
    <div class="column row">
      <div class="sixteen wide column">
        <div class="ui basic segment">
          <form class="ui form">
            <mat-tab-group animationDuration="0" [selectedIndex]="selectedIndex" (selectedTabChange)="changeTab($event)">
              <mat-tab label="{{'Urlopy' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Urlopy' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment segment-widgets">
                  <app-tab-template [config]="configHolidays" [widgets]="widgetsHolidays"></app-tab-template>
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Wykaz absencji' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Wykaz absencji' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment segment-widgets">
                  <!-- <app-tab-template [config]="configAbsences" [widgets]="widgetsAbsences"></app-tab-template> -->
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Plan urlopu' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Plan urlopu' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment segment-widgets">
                  <!-- <app-tab-template [config]="configHolidayPlan" [widgets]="widgetsHolidayPlan"></app-tab-template> -->
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Nadgodziny' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Nadgodziny' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment segment-widgets">
                  <!-- <app-tab-template [config]="configWorktime" [widgets]="widgetsWorktime"></app-tab-template> -->
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>

              <mat-tab label="{{'Harmonogram' | translate}}">
                <div class="ui basic segment bgc-grey-50">
                  <h3 id="step-account" class="ui header">
                    <div class="content">
                      <span>{{'Harmonogram' | translate}}</span>
                    </div>
                  </h3>
                </div>

                <div class="ui basic segment segment-widgets">
                  <!-- <app-tab-template [config]="configSchedules" [widgets]="widgetsSchedules"></app-tab-template> -->
                </div>

                <div class="ui divider" style="border-width: .2em;"></div>
              </mat-tab>
            </mat-tab-group>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
