<div layout="column" layout-fill flex>
  <div class="size-height-12"></div>

  <h3 class="ui icon header">
    <img src="../../../../assets/images/workteam4.png"
      style="margin-right: 0;
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0 0 0 4px rgba(34,36,38,.1);">
  </h3>

  <div class="size-height-24"></div>

  <div layout="column" layout-align="start center" flex>
    <mat-nav-list class="sidenav-menu" flex>
      <ng-template ngFor let-menu let-last="last" [ngForOf]="menus">
        <ng-container *ngIf="menu.items === undefined; else elseContainer">
          <a *ngxPermissionsOnly="menu.permissionsOnly"
            mat-list-item [routerLink]="menu.routerLink"
            [class.selected]="selectedMenu === menu"
            (click)="setSelectedMenu(menu)">

            <mat-icon matListAvatar
                    [ngClass]="menu.iconColorClass"
                    matTooltip="{{menu.toolTip | translate}}"
                    matTooltipPosition="after">
              <span [ngClass]="menu.iconClass"></span>
            </mat-icon>
            <span *ngIf="menu.notifications" class="floating ui circular red label">{{menu.notifications.count}}</span>
          </a>
        </ng-container>

        <ng-template #elseContainer>
          <a *ngxPermissionsOnly="menu.permissionsOnly" mat-list-item
            [class.selected]="selectedMenu === menu"
            (click)="setSelectedMenu(menu)"
            [matMenuTriggerFor]="menuTrigger"
            matTooltip="{{menu.toolTipText | translate}}" [matTooltipPosition]="menu.toolTipPos">
            <mat-icon matListAvatar
                    [ngClass]="menu.iconColorClass"
                    matTooltip="{{menu.toolTip | translate}}"
                    matTooltipPosition="after">
              <span class="mdi {{menu.iconClass}} {{menu.colorClass}}"></span>
            </mat-icon>
          </a>

          <mat-menu #menuTrigger="matMenu"
            class="menu-panel-sidenav"
            [overlapTrigger]="true"
            yPosition="below"
            xPosition="before">

            <ng-template ngFor let-item let-last="last" [ngForOf]="menu.items">
              <button *ngxPermissionsOnly="item.permissionsOnly" mat-menu-item routerLink="{{item.routerLink}}">
                <div layout="row" layout-align="start center">
                  <mat-icon class="mdi {{item.iconClass}} {{item.colorClass}} mdi-24px"></mat-icon>
                  <span class="size-width-6"></span>
                  <span>{{ item.name | translate }}</span>
                </div>
              </button>
            </ng-template>
          </mat-menu>
        </ng-template>
      </ng-template>
    </mat-nav-list>
  </div>

  <div layout="column" layout-align="center center">
    <mat-nav-list class="sidenav-menu" flex>
      <a mat-list-item>
        <div class="ui icon left floating dropdown labeled languages">
          <mat-icon matListAvatar
                  class="tc-grey-50"
                  matTooltip="{{'Zmiana języka' | translate}}"
                  matTooltipPosition="after">
            <span class="mdi mdi-web"></span>
          </mat-icon>

          <div class="menu transition hidden menu-languages">
            <div class="header">
              <span translate>Wyszukaj</span>
            </div>
            <div class="ui icon search input">
              <i class="search icon"></i>
              <input type="text" placeholder="{{'Wyszukaj' | translate}}">
            </div>

            <div class="scrolling menu">
              <ng-template ngFor let-language let-last="last" [ngForOf]="languages">
                <div class="item" [attr.data-value]="language.code">
                  <i class="{{language.flag}} flag"></i>
                  <span class="description" translate>{{language.desc}}</span>
                  <span class="name">{{language.name}}</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </a>

      <a mat-list-item>
        <div class="ui left floating dropdown labeled icon account">
          <div class="pad-left-xs pad-right-xs icon"
              matTooltip="{{'Moje konto' | translate}}"
              matTooltipPosition="after">
            <ngx-avatar name="{{userLogged?.fullName}}" size="32"></ngx-avatar>
          </div>

          <div class="ui menu menu-account">
            <a class="item" [routerLink]="['/account', 'profile', 'details']">
              <h4 class="ui header">
                <ngx-avatar class="ui image" name="{{userLogged?.fullName}}" size="32"></ngx-avatar>
                <div class="content">
                  <span>{{userLogged?.fullName}}</span>
                  <div class="sub header">{{userLogged?.email}}</div>
                </div>
              </h4>
            </a>
            <div class="divider"></div>
            <a class="item" [routerLink]="['/account', 'profile', 'details']">
              <i class="settings icon"></i>
              {{'Ustawienia' | translate}}
            </a>
            <a class="item" [routerLink]="['/account', 'profile', 'security']">
              <i class="edit icon"></i>
              {{'Zmiana hasła' | translate}}
            </a>
            <div class="divider"></div>
            <div class="ui dropdown item">
              <span class="text">
                <i class="ui {{sidebarService.activeTheme}} theme-primary empty circular label"></i>
                <span class="pad-left-sm" translate>Styl aplikacji</span>
              </span>
              <i class="dropdown icon"></i>

              <div class="menu menu-theme">
                <ng-template ngFor let-theme let-last="last" [ngForOf]="sidebarService.getThemes">
                  <div class="item" [attr.data-value]="theme" (click)="setActiveTheme(theme)">
                    <span class="text">
                      <i class="ui {{theme}} theme-primary empty circular label"></i>
                      <span class="pad-left-sm" translate>{{theme}}</span>
                    </span>
                  </div>
                </ng-template>
              </div>
            </div>
            <div class="divider"></div>
            <a class="item" (click)="lockAccount()">
              <i class="grid user lock icon"></i>
              {{'Zablokuj' | translate}}
            </a>
            <a class="item" (click)="logoutUser()">
              <i class="grid sign out alternate icon"></i>
              {{'Wyloguj' | translate}}
            </a>
          </div>
        </div>
      </a>

      <a mat-list-item (click)="logoutUser()" href="javascript:void(null);">
        <mat-icon matListAvatar
                class="tc-grey-50"
                matTooltip="{{'Wyloguj' | translate}}"
                matTooltipPosition="after">exit_to_app</mat-icon>
      </a>
    </mat-nav-list>
  </div>

  <div class="size-height-32"></div>
</div>
