.ui.floating.label {
  top: .25em !important;
  left: 3em;
  right: unset !important;
  transform: unset !important;
}
.menu-languages {
  position: fixed !important;
  bottom: 11em !important;
  left: 5em !important;
}
.menu-account {
  position: fixed !important;
  bottom: 6em !important;
  left: 5em !important;
}

.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 0 !important;
  margin-top: 0 !important;
}
