<app-widget-content [widget]="widget">
  <div content class="ui aligned grid">
    <div class="sixteen wide column" style="padding: .5em;">
      <div layout="row" layout-align="center start" layout-wrap flex>
        <ng-template ngFor let-button let-i="index" let-last="last" [ngForOf]="buttons">
          <div class="ui icon teal button button-dash" [routerLink]="button.routerLink" (click)="clickFunc(button.type)">
          <div layout="column" layout-align="center center">
            <i class="{{button.icon}} icon"></i>
            <span>{{button.header | translate}}</span>
          </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</app-widget-content>