.button-dash {
  margin: .5em;
  padding: 2em !important;
  width: 124px;
  height: 112px;
  // box-shadow: 0px 0px 25px 5px rgba(0,0,0,.1) !important;
  &:hover {
    i.icon {
      -webkit-animation: wobble-hor-top 0.8s both;
      animation: wobble-hor-top 0.8s both;
    }
  }
  i {
    font-size: 2em;
  }
  i.icon {
    margin: unset !important;
  }
  span {
    margin-top: .5em !important;
  }
}