.ui.relaxed.list>.item {
  padding-bottom: .8em !important;
}
.ui.header>.image:not(.icon), .ui.header>img {
  min-width: 3em !important;
}

@media screen and (min-width: 960px) {
  .column-right {
    min-width: 480px !important;
    max-width: 480px !important;
  }
}
@media screen and (max-width: 960px) and (min-width: 768px) {
  .column-right {
    min-width: 340px !important;
    max-width: 480px !important;
  }
}
@media only screen and (max-width: 768px) {
  .column-right {
    min-width: unset !important;
    max-width: unset !important;
  }
}
